{% extends 'Application/base.html' %}
{% load static %}
   
{% block content %}

    <link rel="stylesheet" href="{% static 'main.css' %}">

    <section id="landing-section" class="container-fluid">
        <div class="land">
            <img class="land__ellipses" src="{% static 'images/ellipses.png' %}" alt="">
            <div class="land__content">
                
                <h1 class="land__content--heading">Conquer your School Exams with Us!</h1>
                <h3 class="land__content--subheading">Your board, your language!</h3>
                <button class="land__content--btn">start preparing now</button>
            </div>
            <div class="land__img">
                <img class="land__img--vector" src="{% static 'images/maths.png' %}" alt="">
                <img class="land__img--ellipse" src="{% static 'images/ellipse.png' %}" alt="">
            </div>
        </div>
    </section>

    <section id="state-section" class="container-fluid" >
        <img class="ellipses1" src="{% static 'images/ellipses.png' %}" alt="">
        <h1 class="state-heading">State Boards</h1>
        <h3 class="state-subheading">Choose your board and start learning now</h3>
        <div class="state">
            <div class="state__names">
                <button class="state__names--btn">Bihar</button>
                <button class="state__names--btn">Uttar Pradesh</button>
                <button class="state__names--btn">Jammu & Kashmir</button>
                <button class="state__names--btn">Delhi</button>
                <button class="state__names--btn">Punjab</button>
                <button class="state__names--btn">Harayana</button>
                <button class="state__names--btn">Chhattisgarh</button>
                <button class="state__names--btn">Madhya Pradesh</button>
                <button class="state__names--btn">Arynachal Pradesh</button>
                <button class="state__names--btn">Uttrakhand</button>
            </div>
            <div class="state__subjects">
                <h2 class="state__subjects--heading">Harayana Board</h2>
                <h4 class="state__subjects--subheading">Conquer the High-School exams and Learn every concept with Us!</h4>
                <div class="class">
                    <div class="class__12">
                        <h2 class="class__12--heading">Class 12</h2>
                        
                        <div class="class__12--item">
                            <h3 class="class__12--item-title">Maths</h3>
                            <div class="chips">
                                <div class="chips__box chips__green">
                                    <img class="chips__box--img" src="{% static 'images/pradeep.png' %}" alt="">
                                    <h3 class="chips__box--title">Pradeep's</h3>
                                </div>
                                <div class="chips__box chips__pink">
                                    <img class="chips__box--img" src="{% static 'images/arora.png' %}" alt="">
                                    <h3 class="chips__box--title">NCERT</h3>
                                </div>
                                <div class="chips__box chips__orange">
                                    <img class="chips__box--img" src="{% static 'images/sinha.png' %}" alt="">
                                    <h3 class="chips__box--title">KC Sinha</h3>
                                </div>
                                <div class="chips__box chips__blue">
                                    <img class="chips__box--img" src="{% static 'images/ncert.png' %}" alt="">
                                    <h3 class="chips__box--title">SL Arora</h3>
                                </div>
                                <button class="chips__btn"><span>View All</span></button>
                            </div>
                        </div>
                    

                        <div class="class__12--item">
                            <h3 class="class__12--item-title">Physics</h3>
                            <div class="chips">
                                <div class="chips__box chips__green">
                                    <img class="chips__box--img" src="{% static 'images/pradeep.png' %}" alt="">
                                    <h3 class="chips__box--title">Pradeep's</h3>
                                </div>
                                <div class="chips__box chips__pink">
                                    <img class="chips__box--img" src="{% static 'images/arora.png' %}" alt="">
                                    <h3 class="chips__box--title">NCERT</h3>
                                </div>
                                <div class="chips__box chips__orange">
                                    <img class="chips__box--img" src="{% static 'images/sinha.png' %}" alt="">
                                    <h3 class="chips__box--title">KC Sinha</h3>
                                </div>
                                <div class="chips__box chips__blue">
                                    <img class="chips__box--img" src="{% static 'images/ncert.png' %}" alt="">
                                    <h3 class="chips__box--title">SL Arora</h3>
                                </div>
                                <button class="chips__btn"><span>View All</span></button>
                            </div>
                        </div>

                        <div class="class__12--item">
                            <h3 class="class__12--item-title">Biology</h3>
                            <div class="chips">
                                <div class="chips__box chips__green">
                                    <img class="chips__box--img" src="{% static 'images/pradeep.png' %}" alt="">
                                    <h3 class="chips__box--title">Pradeep's</h3>
                                </div>
                                <div class="chips__box chips__pink">
                                    <img class="chips__box--img" src="{% static 'images/arora.png' %}" alt="">
                                    <h3 class="chips__box--title">NCERT</h3>
                                </div>
                                <div class="chips__box chips__orange">
                                    <img class="chips__box--img" src="{% static 'images/sinha.png' %}" alt="">
                                    <h3 class="chips__box--title">KC Sinha</h3>
                                </div>
                                <div class="chips__box chips__blue">
                                    <img class="chips__box--img" src="{% static 'images/ncert.png' %}" alt="">
                                    <h3 class="chips__box--title">SL Arora</h3>
                                </div>
                                <button class="chips__btn"><span>View All</span></button>
                            </div>
                        </div>

                        <div class="class__12--item">
                            <h3 class="class__12--item-title">Chemistry</h3>
                            <div class="chips">
                                <div class="chips__box chips__green">
                                    <img class="chips__box--img" src="{% static 'images/pradeep.png' %}" alt="">
                                    <h3 class="chips__box--title">Pradeep's</h3>
                                </div>
                                <div class="chips__box chips__pink">
                                    <img class="chips__box--img" src="{% static 'images/arora.png' %}" alt="">
                                    <h3 class="chips__box--title">NCERT</h3>
                                </div>
                                <div class="chips__box chips__orange">
                                    <img class="chips__box--img" src="{% static 'images/sinha.png' %}" alt="">
                                    <h3 class="chips__box--title">KC Sinha</h3>
                                </div>
                                <div class="chips__box chips__blue">
                                    <img class="chips__box--img" src="{% static 'images/ncert.png' %}" alt="">
                                    <h3 class="chips__box--title">SL Arora</h3>
                                </div>
                                <button class="chips__btn"><span>View All</span></button>
                            </div>
                        </div>

                    <div class="class__11">
                        <h2 class="class__11--heading">Class 11</h2>
                        
                        <div class="class__11--item">
                            <h3 class="class__11--item-title">Maths</h3>
                            <div class="chips">
                                <div class="chips__box chips__green">
                                    <img class="chips__box--img" src="{% static 'images/pradeep.png' %}" alt="">
                                    <h3 class="chips__box--title">Pradeep's</h3>
                                </div>
                                <div class="chips__box chips__pink">
                                    <img class="chips__box--img" src="{% static 'images/arora.png' %}" alt="">
                                    <h3 class="chips__box--title">NCERT</h3>
                                </div>
                                <div class="chips__box chips__orange">
                                    <img class="chips__box--img" src="{% static 'images/sinha.png' %}" alt="">
                                    <h3 class="chips__box--title">KC Sinha</h3>
                                </div>
                                <div class="chips__box chips__blue">
                                    <img class="chips__box--img" src="{% static 'images/ncert.png' %}" alt="">
                                    <h3 class="chips__box--title">SL Arora</h3>
                                </div>
                                <button class="chips__btn"><span>View All</span></button>
                            </div>
                        </div>

                        <div class="class__11--item">
                            <h3 class="class__11--item-title">Physics</h3>
                            <div class="chips">
                                <div class="chips__box chips__green">
                                    <img class="chips__box--img" src="{% static 'images/pradeep.png' %}" alt="">
                                    <h3 class="chips__box--title">Pradeep's</h3>
                                </div>
                                <div class="chips__box chips__pink">
                                    <img class="chips__box--img" src="{% static 'images/arora.png' %}" alt="">
                                    <h3 class="chips__box--title">NCERT</h3>
                                </div>
                                <div class="chips__box chips__orange">
                                    <img class="chips__box--img" src="{% static 'images/sinha.png' %}" alt="">
                                    <h3 class="chips__box--title">KC Sinha</h3>
                                </div>
                                <div class="chips__box chips__blue">
                                    <img class="chips__box--img" src="{% static 'images/ncert.png' %}" alt="">
                                    <h3 class="chips__box--title">SL Arora</h3>
                                </div>
                                <button class="chips__btn"><span>View All</span></button>
                            </div>
                        </div>

                        <div class="class__11--item">
                            <h3 class="class__11--item-title">Biology</h3>
                            <div class="chips">
                                <div class="chips__box chips__green">
                                    <img class="chips__box--img" src="{% static 'images/pradeep.png' %}" alt="">
                                    <h3 class="chips__box--title">Pradeep's</h3>
                                </div>
                                <div class="chips__box chips__pink">
                                    <img class="chips__box--img" src="{% static 'images/arora.png' %}" alt="">
                                    <h3 class="chips__box--title">NCERT</h3>
                                </div>
                                <div class="chips__box chips__orange">
                                    <img class="chips__box--img" src="{% static 'images/sinha.png' %}" alt="">
                                    <h3 class="chips__box--title">KC Sinha</h3>
                                </div>
                                <div class="chips__box chips__blue">
                                    <img class="chips__box--img" src="{% static 'images/ncert.png' %}" alt="">
                                    <h3 class="chips__box--title">SL Arora</h3>
                                </div>
                                <button class="chips__btn"><span>View All</span></button>
                            </div>
                        </div>

                        <div class="class__11--item">
                            <h3 class="class__11--item-title">Chemistry</h3>
                            <div class="chips">
                                <div class="chips__box chips__green">
                                    <img class="chips__box--img" src="{% static 'images/pradeep.png' %}" alt="">
                                    <h3 class="chips__box--title">Pradeep's</h3>
                                </div>
                                <div class="chips__box chips__pink">
                                    <img class="chips__box--img" src="{% static 'images/arora.png' %}" alt="">
                                    <h3 class="chips__box--title">NCERT</h3>
                                </div>
                                <div class="chips__box chips__orange">
                                    <img class="chips__box--img" src="{% static 'images/sinha.png' %}" alt="">
                                    <h3 class="chips__box--title">KC Sinha</h3>
                                </div>
                                <div class="chips__box chips__blue">
                                    <img class="chips__box--img" src="{% static 'images/ncert.png' %}" alt="">
                                    <h3 class="chips__box--title">SL Arora</h3>
                                </div>
                                <button class="chips__btn"><span>View All</span></button>
                            </div>
                        </div>
                    </div>
        
                    <div class="class__others">
                        <div class="class__others--item">
                            <div class="lclass">
                                <h3 class="lclass__heading">Class 10</h3>
                                <div class="lclass__img">
                                    <div class="lclass__img--box">
                                        <img class="lclass__img--box-image1" src="{% static 'images/abacus.png' %}" alt="">
                                        <h3 class="lclass__img--box-title">Maths</h3>
                                    </div>
                                    <div class="lclass__img--box">
                                        <img class="lclass__img--box-image2" src="{% static 'images/science.png' %}" alt="">
                                        <h3 class="lclass__img--box-title">Science</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="lclass">
                                <h3 class="lclass__heading">Class 9</h3>
                                <div class="lclass__img">
                                    <div class="lclass__img--box">
                                        <img class="lclass__img--box-image1" src="{% static 'images/abacus.png' %}" alt="">
                                        <h3 class="lclass__img--box-title">Maths</h3>
                                    </div>
                                    <div class="lclass__img--box">
                                        <img class="lclass__img--box-image2" src="{% static 'images/science.png' %}" alt="">
                                        <h3 class="lclass__img--box-title">Science</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="lclass">
                                <h3 class="lclass__heading">Class 8</h3>
                                <div class="lclass__img">
                                    <div class="lclass__img--box">
                                        <img class="lclass__img--box-image1" src="{% static 'images/abacus.png' %}" alt="">
                                        <h3 class="lclass__img--box-title">Maths</h3>
                                    </div>
                                    <div class="lclass__img--box">
                                        <img class="lclass__img--box-image2" src="{% static 'images/science.png' %}" alt="">
                                        <h3 class="lclass__img--box-title">Science</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="lclass">
                                <h3 class="lclass__heading">Class 7</h3>
                                <div class="lclass__img">
                                    <div class="lclass__img--box">
                                        <img class="lclass__img--box-image1" src="{% static 'images/abacus.png' %}" alt="">
                                        <h3 class="lclass__img--box-title">Maths</h3>
                                    </div>
                                    <div class="lclass__img--box">
                                        <img class="lclass__img--box-image2" src="{% static 'images/science.png' %}" alt="">
                                        <h3 class="lclass__img--box-title">Science</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="lclass">
                                <h3 class="lclass__heading">Class 6</h3>
                                <div class="lclass__img">
                                    <div class="lclass__img--box">
                                        <img class="lclass__img--box-image1" src="{% static 'images/abacus.png' %}" alt="">
                                        <h3 class="lclass__img--box-title">Maths</h3>
                                    </div>
                                    <div class="lclass__img--box">
                                        <img class="lclass__img--box-image2" src="{% static 'images/science.png' %}" alt="">
                                        <h3 class="lclass__img--box-title">Science</h3>
                                    </div>
                                </div>
                            </div>
                            <img class="ellipse2" src="images/ellipses.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="boards">
            <button class="boards__name">CBSE</button>
            <button class="boards__name">ICSE</button>
        </div>
    </section>


    <section id="section-live" class="container-fluid">
        <h1 class="live-heading">LIVE classes</h1>
        <div class="live">
            <img class="live__img" src="{% static 'images/live1.png' %}" alt="">
            <div class="live__box">
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/global-network.png' %}" alt="">
                    <h3 class="live__box--content-heading">Accessible everywhere</h3>
                    <h5 class="live__box--content-para">Access to quality education anytime, anywhere</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/coaching.png' %}" alt="">
                    <h3 class="live__box--content-heading">Expert Teachers</h3>
                    <h5 class="live__box--content-para">Unlimited access to video solutions</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/presentation.png'  %}" alt="">
                    <h3 class="live__box--content-heading">Interactive Sessions</h3>
                    <h5 class="live__box--content-para">Small groups for maximum student - teacher interaction</h5>
                </div>
            </div>
            <img class="ellipses4" src="{% static 'images/ellipses.png' %}" alt="">
        </div>
        
        <h2 class="live-free">FIRST CLASS FREE!</h2>
        <button class="live-btn" href="">Book a class now!</button>
    </section>

    <section id="section-video" class="container-fluid">
        <h1 class="video-heading">Microconcept videos</h1>
        <div class="video">
            <img class="video__img" src="{% static 'images/tablet.png' %}" alt="">
            <div class="video__box">
                <div class="video__box--content">
                    <img class="video__box--content-img" src="{% static 'images/chronometer.png' %}" alt="">
                    <h3 class="video__box--content-heading">Save hours of scrolling pages</h3>
                </div>
                <div class="video__box--content">
                    <img class="video__box--content-img" src="{% static 'images/bulb.png' %}" alt="">
                    <h3 class="video__box--content-heading">Clarify your concepts instantly</h3>
                    <p class="video__box--content-para">Find multilingual video explainations to frequently confused concepts from every subject</p>
                </div>
                <button class="video__box--btn" href="">Start learning now</button>
            </div>
            
        </div>
        <img class="ellipses5" src="{% static 'images/ellipses.png' %}" alt="">
    </section>

    <!-- <section id="section-doubts" class="container-fluid">
        <h1 class="doubts-heading">Solve your doubts faster.</h1>
        <div class="doubts">
            <div class="doubts__box">
                <div class="doubts__box--content">
                    <img class="doubts__box--content-img" src="{% static 'images/global-network.png' %}" alt="">
                    <h3 class="doubts__box--content-heading">Accessible everywhere</h3>
                    <p class="doubts__box--content-para">Access to quality educations anytime, anywhere</p>
                </div>
                <div class="doubts__box--content">
                    <img class="doubts__box--content-img" src="{% static 'images/presentation.png' %}" alt="">
                    <h3 class="doubts__box--content-heading">1 million+ videos</h3>
                    <p class="doubts__box--content-para">Unlimited access to video solutions</p>
                </div>
            </div>

            <img class="doubts__img" src="{%static 'images/computer.png' %}" alt="">
            
            <div class="doubts__work">
                <h3 class="doubts__work--heading">How it works?</h3>
                <div class="doubts__work--img">
                    <div class="doubts__work--img-item1">
                        <h4 class="doubts__work--img-item1-heading">Have a doubt?</h4>
                        <img class="doubts__work--img-item1-image" src="{% static 'images/doubt.png' %}" alt="">
                        <h5 class="number-circle">1</h5>
                    </div>
                    
                    <img class="connect" src="{% static 'images/connect.png' %}" alt="">
                    
                    <div class="doubts__work--img-item2">
                        <div class="doubts__work--img-item2-image1">   
                            <img class="keyboard" src="{% static 'images/keyboard.png' %}" alt="">
                            <h3 class="keyboard-text">Type the question</h3>
                        </div>
                        <h4 class="doubts__work--img-item2-text">OR</h4>
                        <div class="doubts__work--img-item2-image2">
                            <img class="upload" src="{% static 'images/upload.png' %}" alt="">
                            <h3 class="upload-text">Upload image</h3>
                        </div>
                        <h5 class="number-circle">2</h5>
                    </div>
                    
                    <img class="connect" src="{% static 'images/connect.png' %}" alt="">

                    <div class="doubts__work--img-item3">
                        <img class="work" src="{% static 'images/work.png' %}" alt="">
                        <h3 class="work-text">Type the question</h3>
                        <h5 class="number-circle">3</h5>
                    </div>
                    
                </div>
            </div>
        </div>
        <img class="doubt-ellipse" src="{% static 'images/ellipses.png' %}" alt="">
        <button class="doubt-btn">Clarify your doubts now!</button>
    </section> -->
    <footer id="section-footer1" class="container-fluid">
        <div class="footer1-connect">
            <h3 class="footer1-connect--text">Connect with us 
                <img class="footer1-connect--text-img" src="{% static 'images/facebook.png' %}" alt=""> 
                <img class="footer1-connect--text-img" src="{% static 'images/instagram.png' %}" alt=""> 
                <img class="footer1-connect--text-img" src="{% static 'images/youtube.png' %}" alt=""> 
                <img class="footer1-connect--text-img" src="{% static 'images/linkedin.png' %}" alt=""> 
            </h3>
            <h3 class="footer1-connect--text1">Contact 
                <img class="footer1-connect--text1-img" src="{% static 'images/email.png' %}" alt=""> 
                <span>Coursify@gmail.com</span>
            </h3>
        </div>
        <div class="footer1">
            <div class="footer1__content">
                <div class="footer1__content--ncert">
                    <h1 class="ncert-heading">NCERT</h1>
                    <div class="ncert-content">
                        <h2 class="ncert-title">Class 11-12</h2>
                        <div class="ncert-link">
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                        </div>
                    </div>
                    <div class="ncert-content">
                        <h2 class="ncert-title">Class 9-10</h2>
                        <div class="ncert-link">
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                        </div>
                    </div>
                    <div class="ncert-content">
                        <h2 class="ncert-title">Class 6-8</h2>
                        <div class="ncert-link">
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                            <a class="ncert-link--items" href="">Class 12 Physics NCERT Solutions</a>
                        </div>
                    </div>
                    <h1 class="ncert-heading" style="margin-top: 2rem;">CBSE</h1>
                    <div class="ncert-link">
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 12</a>
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 11</a>
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 10</a>
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 9</a>
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 8</a>
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 7</a>
                    </div>
                    <h1 class="ncert-heading" style="margin-top: 2rem;">ICSE</h1>
                    <div class="ncert-link">
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 12</a>
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 11</a>
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 10</a>
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 9</a>
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 8</a>
                        <a class="ncert-link--items" style="margin-right: 2rem; font-size:1.5rem;" href="">Class 7</a>
                    </div>
                    <h1 class="ncert-heading" style="margin-top: 2rem;">State Boards</h1>
                    <div class="ncert-link">
                        <a class="ncert-link--items" style="margin-right: 2rem;font-size:1.5rem;" href="">Uttar Pradesh Board</a>
                        <a class="ncert-link--items" style="margin-right: 2rem;font-size:1.5rem;" href="">Delhi Board</a>
                        <a class="ncert-link--items" style="margin-right: 2rem;font-size:1.5rem;" href="">Harayana Board</a>
                        <a class="ncert-link--items" style="margin-right: 2rem;font-size:1.5rem;" href="">Himachal Pradesh Board</a>
                        <a class="ncert-link--items" style="margin-right: 2rem;font-size:1.5rem;" href="">Bihar Board</a>
                        <a class="ncert-link--items" style="margin-right: 2rem;font-size:1.5rem;" href="">Jarkhand Board</a>
                        <a class="ncert-link--items" style="margin-right: 2rem;font-size:1.5rem;" href="">madhya Pradesh Board</a>
                        <a class="ncert-link--items" style="margin-right: 2rem;font-size:1.5rem;" href="">Chhattishgarh Board</a>
                    </div>
                    <h1 class="ncert-heading" style="margin-top: 2rem;">Reference Books</h1>
                    <div class="ncert-content">
                        <h2 class="ncert-title">Class 11-12</h2>
                        <div class="ncert-link">
                            <a class="ncert-link--items" href="">HC Verma Solutions class 12 Physics</a>
                            <a class="ncert-link--items" href="">M S Chouhan Class 12 Chemistry</a>
                            <a class="ncert-link--items" href="">K C Sinha Class 12 Maths</a>
                            <a class="ncert-link--items" href="">Errorless Class 12 Biology</a>
                            <a class="ncert-link--items" href="">HC Verma Solutions class 11 Physics</a>
                            <a class="ncert-link--items" href="">M S Chouhan Class 11 Chemistry</a>
                            <a class="ncert-link--items" href="">K C Sinha Class 11 Maths</a>
                            <a class="ncert-link--items" href="">Errorless Class 11 Biology</a>
                        </div>
                    </div>
                    <div class="ncert-content">
                        <h2 class="ncert-title">Class 9-10</h2>
                        <div class="ncert-link">
                            <a class="ncert-link--items" href="">RD Sharma Class 10 Maths</a>
                            <a class="ncert-link--items" href="">RS Agarwal Class 10 Maths</a>
                            <a class="ncert-link--items" href="">Exampler Class 10 Science</a>
                            <a class="ncert-link--items" href="">Lakmir Singh Class 10 Science</a>
                            <a class="ncert-link--items" href="">RD Sharma Class 9 Maths</a>
                            <a class="ncert-link--items" href="">RS Agarwal Class 9 Maths</a>
                            <a class="ncert-link--items" href="">Exampler Class 9 Science</a>
                            <a class="ncert-link--items" href="">Lakmir Singh Class 9 Science</a>
                        </div>
                    </div>
                    <div class="ncert-content">
                        <h2 class="ncert-title">Class 6-8</h2>
                        <div class="ncert-link">
                            <a class="ncert-link--items" href="">RD Sharma Class 8 Maths</a>
                            <a class="ncert-link--items" href="">RS Agarwal Class 8 Maths</a>
                            <a class="ncert-link--items" href="">Exampler Class 8 Science</a>
                            <a class="ncert-link--items" href="">RD Sharma Class 7 Maths</a>
                            <a class="ncert-link--items" href="">RS Agarwal Class 7 Maths</a>
                            <a class="ncert-link--items" href="">Exampler Class 7 Science</a>
                            <a class="ncert-link--items" href="">RD Sharma Class 6 Maths</a>
                            <a class="ncert-link--items" href="">RS Agarwal Class 6 Maths</a>
                            <a class="ncert-link--items" href="">Exampler Class 6 Science</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer1__img">
                <!-- Contact <img src="images/" alt=""> -->
                <img class="footer1__img--logo" src="{% static 'images/favicon.png' %}" alt="">
                <h3 class="footer1__img--text">Clarify your Doubts.</h3>
                <h3 class="footer1__img--text">In your Language.</h3>

                <h4 class="footer1__img--links">Quick Links</h4>
                <a class="footer1__img--items" href="">About US</a>
                <a class="footer1__img--items" href="">Careers</a>
                <a class="footer1__img--items" href="">Press Releases</a>
                <a class="footer1__img--items" href="">Provacy</a>
                <a class="footer1__img--items" href="">About US</a>
            </div>
            
        </div>
</div>
</div>
</div>

  
{% endblock content %}