{% extends 'Application/base.html' %}
{% load static %}
   
{% block content %}
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <section id="section-must" class="container-fluid" >
        <img class="ellipses1" src="{% static 'images/ellipses.png' %}" alt="">
        <div class="must">
            <div class="must__names">
                <button class="must__names--btn">Class 12th</button>
                <button class="must__names--btn">Class 11th</button>
                <button class="must__names--btn">Class 10th</button>
                <button class="must__names--btn">Class 9th</button>
                <button class="must__names--btn">Class 8th</button>
                <button class="must__names--btn">Class 7th</button>
                <button class="must__names--btn">Class 6th</button>
            </div>
            <div class="material">
                <h2 class="heading">Must Solve Books for Class 9</h2>
                <div class="material__content">
                    <h3 class="material__content--heading">Maths</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/9TH/book7.png' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/9TH/51wq9t49RUL._SX323_BO1,204,203,200_.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/10TH/A1OlaHHk91L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/9TH/71MjzETlTOL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/918O3XZAW9L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                    </div>
                </div>
                <div class="material__content">
                    <h3 class="material__content--heading">SCIENCE</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/9TH/91PUaUX3nRL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/9TH/91QdRee11QL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/9TH/51VQpJz+t7L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/9TH/A1F5kbEAk5L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                    </div>
                </div>
                <h2 class="heading">NCERT Books</h2>
                <div class="material__content">
                    <h3 class="material__content--heading">Class 12</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/918O3XZAW9L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/11TH/911-2v5Yq8L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/91DKzsw46IL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/91kkk-xBuOL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/ENGLISH/41M68q7KYAL._SY370_BO1,204,203,200_llll.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                    </div>
                </div>
                <div class="material__content">
                    <h3 class="material__content--heading">Class 11</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/11TH/unnamed.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/911-2v5Yq8L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/11TH/unnamed (1).jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/11TH/71GhcCJ76gL._SY679_.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/ENGLISH/91Fxi2WMbrL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                    </div>
                </div>
                <div class="material__content">
                    <img class="state-img4" src="{% static 'images/ellipses.png' %}" alt="">
                    <h3 class="material__content--heading">Class 10</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/10TH/91fPVAIKXeL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/10TH/91gcjeazhvL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/ENGLISH/91Y+GfBkNML.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                    </div>
                </div>
                <div class="material__content">
                    <h3 class="material__content--heading">Class 9</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/9TH/book7.png' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/9TH/91PUaUX3nRL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/ENGLISH/unnamed.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                    </div>
                </div>
                <div class="material__content">
                    <h3 class="material__content--heading">Class 8</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/8TH/unnamed.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/8TH/61RFleAKgqL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/ENGLISH/818x26-XnAL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                    </div>
                </div>
                <div class="material__content">
                    <img class="state-img3" src="{% static 'images/ellipses.png' %}" alt="">
                    <h3 class="material__content--heading">Class 7</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/7TH/512Jxme8PAL._SX379_BO1,204,203,200_.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/7TH/91uCg1fC4fL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/ENGLISH/A16OtFEoqFL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                    </div>
                </div>
                <div class="material__content">
                    <h3 class="material__content--heading">Class 6</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/6TH/911gWcgY1YL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/6TH/91f4O+-Mb-L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/ENGLISH/51ZUM-M-FJL._SX354_BO1,204,203,200_.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT - XII</h3>
                        </div>
                    </div>
                </div>
                <h2 class="heading">RD SHARMA</h2>
                <div class="material__content">
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/716aNbhuD2L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/11TH/91Gb3OCDHBL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/10TH/A1Md7XPuqPL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/9TH/71MjzETlTOL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/8TH/41P3Ao4RJUL._SX366_BO1,204,203,200_.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                    </div>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/7TH/71obYq7QPYL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/6TH/51WWuyBv33L._SX366_BO1,204,203,200_.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                    </div>
                </div>
                <img class="state-img1" src="{% static 'images/ellipses.png' %}" alt="">
                <h2 class="heading">Competitive Exams</h2>
                <div class="material__content">
                    <h3 class="class__content--heading">JEE Mains & Advanced</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/51FuWDNfpmL._SX257_BO1,204,203,200_.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/81Szx-2SOBL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/11TH/51IKPjxv2BL._SX258_BO1,204,203,200_.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/71EK+TbNJkL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <button class="class__content--btn">View all</button>
                            <img class="material__content--box-item-img" src="{% static 'books/11TH/A1-k8aBzP-L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                    </div>
                </div>
                <div class="material__content">
                    <h3 class="material__content--subheading">Previous Year Questions</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/918O3XZAW9L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/918O3XZAW9L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                    </div>
                </div>
                <img class="state-img6" src="{% static 'images/ellipses.png' %}" alt="">
                <div class="material__content">
                    <h3 class="class__content--heading">NEET</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/51NcJLe4ojL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/81bX+IU66fL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/11TH/51IKPjxv2BL._SX258_BO1,204,203,200_.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/71EK+TbNJkL.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/11TH/A1-k8aBzP-L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                    </div>
                </div>
                <div class="material__content">
                    <h3 class="material__content--subheading">Previous Year Questions</h3>
                    <div class="material__content--box">
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/918O3XZAW9L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                        <div class="material__content--box-item">
                            <img class="material__content--box-item-img" src="{% static 'books/12TH/918O3XZAW9L.jpg' %}" alt="">
                            <button class="material__content--box-item-btn">Solve Now</button>
                            <h3 class="material__content--box-item-title">NCERT</h3>
                        </div>
                    </div>
                    <img class="state-img4" src="{% static 'images/ellipses.png' %}" alt="">
                </div>
            </div>
            
        </div> 
    </section>

    <section id="section-live" class="container-fluid">
        <h1 class="live-heading" style="border-bottom: none;">LIVE classes</h1>
        <div class="live">
            <img class="live__img" src="{% static 'images/live1.png' %}" alt="">
            <div class="live__box">
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/global-network.png' %}" alt="">
                    <h3 class="live__box--content-heading">Accessible everywhere</h3>
                    <h5 class="live__box--content-para">Access to quality education anytime, anywhere</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/coaching.png' %}" alt="">
                    <h3 class="live__box--content-heading">Expert Teachers</h3>
                    <h5 class="live__box--content-para">Unlimited access to video solutions</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/presentation.png' %}" alt="">
                    <h3 class="live__box--content-heading">Interactive Sessions</h3>
                    <h5 class="live__box--content-para">Small groups for maximum student - teacher interaction</h5>
                </div>
            </div>
            <img class="ellipses4" src="{% static 'images/ellipses.png' %}" alt="">
        </div>
        
        <h2 class="live-free">FIRST CLASS FREE!</h2>
        <button class="live-btn" href="">Book a class now!</button>
    </section>

    <section id="section-video" class="container-fluid">
        <h1 class="video-heading">Microconcept videos</h1>
        <div class="video">
            <img class="video__img" src="{% static 'images/tablet.png' %}" alt="">
            <div class="video__box">
                <div class="video__box--content">
                    <img class="video__box--content-img" src="{% static 'images/chronometer.png' %}" alt="">
                    <h3 class="video__box--content-heading">Save hours of scrolling pages</h3>
                </div>
                <div class="video__box--content">
                    <img class="video__box--content-img" src="{% static 'images/bulb.png' %}" alt="">
                    <h3 class="video__box--content-heading">Clarify your concepts instantly</h3>
                    <p class="video__box--content-para">Find multilingual video explainations to frequently confused concepts from every subject</p>
                </div>
                <button class="video__box--btn" href="">Start learning now</button>
            </div>
            
        </div>
        <img class="ellipses5" src="{% static 'images/ellipses.png' %}" alt="">
    </section>
{% endblock %}