{% extends 'Application/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'main.css' %}">
    <section id="section-chapter" class="container-fluid">
        <img class="chapter-img1" src="{% static 'images/ellipses.png' %}" alt="">
        <img class="chapter-img2" src="{% static 'images/ellipses.png' %}" alt="">

        <div class="chapter">
            <h1 class="chapter__heading">Class 9th > Maths > NCERT > <span>Chapter 1</span></h1>
            <h3 class="chapter__subheading">Exercise 1.1</h3>
            <dir class="chapter__content">
                <div class="chips">
                    
                    <div class="chips__box">
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q1</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q2</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--orange">
                            <img class="chips__box--item-img" src="{% static 'images/sinha.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q3</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--blue">
                            <img class="chips__box--item-img" src="{% static 'images/ncert.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q4</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q5</h4>
                        </div>
                    </div>
                    <div class="chips__box">
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q1</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q2</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--orange">
                            <img class="chips__box--item-img" src="{% static 'images/sinha.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q3</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--blue">
                            <img class="chips__box--item-img" src="{% static 'images/ncert.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q4</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q5</h4>
                        </div>
                    </div>
                    <div class="chips__box">
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q1</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q2</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--orange">
                            <img class="chips__box--item-img" src="{% static 'images/sinha.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q3</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--blue">
                            <img class="chips__box--item-img" src="{% static 'images/ncert.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q4</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q5</h4>
                        </div>
                    </div>
                    <div class="chips__box">
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q1</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q2</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--orange">
                            <img class="chips__box--item-img" src="{% static 'images/sinha.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q3</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--blue">
                            <img class="chips__box--item-img" src="{% static 'images/ncert.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q4</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q5</h4>
                        </div>
                    </div>
                    
                </div>
            </dir>
        </div>
    </section>

    <section id="section-exercise" class="container-fluid">
        <h1 class="exercise-heading">Other Exercises you <span>must Solve</span></h1>
        <div class="exercise">
            <div class="exercise__content">
                <h3 class="exercise__content--btn"><</h3>
                <div class="exercise__content--box">
                    <div class="exercise__content--box-item">
                        <img class="exercise__content--box-item-img" src="{% static 'images/pradeep.png' %}" alt="">
                        <button class="exercise__content--box-item-btn">Solve Now</button>
                        <h3 class="exercise__content--box-item-text">EXERCISE 1.4</h3>
                    </div>
                    <div class="exercise__content--box-item">
                        <img class="exercise__content--box-item-img" src="{% static 'images/pradeep.png' %}" alt="">
                        <button class="exercise__content--box-item-btn">Solve Now</button>
                        <h3 class="exercise__content--box-item-text">EXERCISE 1.4</h3>
                    </div>
                    <div class="exercise__content--box-item">
                        <img class="exercise__content--box-item-img" src="{% static 'images/pradeep.png' %}" alt="">
                        <button class="exercise__content--box-item-btn">Solve Now</button>
                        <h3 class="exercise__content--box-item-text">EXERCISE 1.4</h3>
                    </div>
                    <div class="exercise__content--box-item">
                        <img class="exercise__content--box-item-img" src="{% static 'images/pradeep.png' %}" alt="">
                        <button class="exercise__content--box-item-btn">Solve Now</button>
                        <h3 class="exercise__content--box-item-text">EXERCISE 1.4</h3>
                    </div>
                </div>
                <h3 class="exercise__content--btn">></h3>
            </div>
        </div>
    </section>

    <section id="section-sub" class="container-fluid">
        <h1 class="sub-heading1">Other Math Books you <span>Must Have</span></h1>
        <div class="sub">
            <div class="sub__content">
                <h2 class="sub__content--nav"><</h2>
                <div class="sub__content--box">
                    <div class="sub__content--box-item">
                        <img class="sub__content--box-item-img" src="{% static 'books/9TH/book7.png' %}" alt="">
                        <button class="sub__content--box-item-btn">Solve Now</button>
                        <h3 class="sub__content--box-item-title">NCERT</h3>
                        <h4 class="sub__content--box-item-text">100+ question</h4>
                    </div>
                    <div class="sub__content--box-item">
                        <img class="sub__content--box-item-img" src="{% static 'books/9TH/51wq9t49RUL._SX323_BO1,204,203,200_.jpg' %}" alt="">
                        <button class="sub__content--box-item-btn">Solve Now</button>
                        <h3 class="sub__content--box-item-title">NCERT</h3>
                        <h4 class="sub__content--box-item-text">100+ question</h4>
                    </div>
                    <div class="sub__content--box-item">
                        <img class="sub__content--box-item-img" src="{% static 'books/10TH/A1OlaHHk91L.jpg' %}" alt="">
                        <button class="sub__content--box-item-btn">Solve Now</button>
                        <h3 class="sub__content--box-item-title">NCERT</h3>
                        <h4 class="sub__content--box-item-text">100+ question</h4>
                    </div>
                    <div class="sub__content--box-item">
                        <img class="sub__content--box-item-img" src="{% static 'books/9TH/71MjzETlTOL.jpg' %}" alt="">
                        <button class="sub__content--box-item-btn">Solve Now</button>
                        <h3 class="sub__content--box-item-title">NCERT</h3>
                        <h4 class="sub__content--box-item-text">100+ question</h4>
                    </div>
                    <div class="sub__content--box-item">
                        <img class="sub__content--box-item-img" src="{% static 'books/12TH/918O3XZAW9L.jpg' %}" alt="">
                        <button class="sub__content--box-item-btn">Solve Now</button>
                        <h3 class="sub__content--box-item-title">NCERT</h3>
                        <h4 class="sub__content--box-item-text">100+ question</h4>
                    </div>
                </div>
                <h2 class="sub__content--nav">></h2>
            </div>
        </div>
    </section>

    <section id="section-sub" class="container-fluid">
        <h1 class="sub-heading1">Other Math Books you <span>Must Have</span></h1>
        <div class="sub">
            <div class="sub__content">
                <h2 class="sub__content--nav"><</h2>
                <div class="sub__content--box">
                    <div class="sub__content--box-item">
                        <img class="sub__content--box-item-img" src="{% static 'books/9TH/book7.png' %}" alt="">
                        <button class="sub__content--box-item-btn">Solve Now</button>
                        <h3 class="sub__content--box-item-title">NCERT</h3>
                        <h4 class="sub__content--box-item-text">100+ question</h4>
                    </div>
                    <div class="sub__content--box-item">
                        <img class="sub__content--box-item-img" src="{% static 'books/9TH/51wq9t49RUL._SX323_BO1,204,203,200_.jpg' %}" alt="">
                        <button class="sub__content--box-item-btn">Solve Now</button>
                        <h3 class="sub__content--box-item-title">NCERT</h3>
                        <h4 class="sub__content--box-item-text">100+ question</h4>
                    </div>
                    <div class="sub__content--box-item">
                        <img class="sub__content--box-item-img" src="{% static 'books/10TH/A1OlaHHk91L.jpg' %}" alt="">
                        <button class="sub__content--box-item-btn">Solve Now</button>
                        <h3 class="sub__content--box-item-title">NCERT</h3>
                        <h4 class="sub__content--box-item-text">100+ question</h4>
                    </div>
                    <div class="sub__content--box-item">
                        <img class="sub__content--box-item-img" src="{% static 'books/9TH/71MjzETlTOL.jpg' %}" alt="">
                        <button class="sub__content--box-item-btn">Solve Now</button>
                        <h3 class="sub__content--box-item-title">NCERT</h3>
                        <h4 class="sub__content--box-item-text">100+ question</h4>
                    </div>
                    <div class="sub__content--box-item">
                        <img class="sub__content--box-item-img" src="{% static 'books/12TH/918O3XZAW9L.jpg' %}" alt="">
                        <button class="sub__content--box-item-btn">Solve Now</button>
                        <h3 class="sub__content--box-item-title">NCERT</h3>
                        <h4 class="sub__content--box-item-text">100+ question</h4>
                    </div>
                </div>
                <h2 class="sub__content--nav">></h2>
            </div>
        </div>
    </section>

    <section id="section-clear" class="container-fluid">
        <h1 class="clear-heading">Clear your Doubts in just 2 Steps</h1>
        <img class="clear-img" src="{% static 'images/ellipses.png' %}" alt="">
        <div class="clear">
            <img class="clear__img1" src="{% static 'images/one.png' %}" alt="">
            <img class="clear__img2" src="{% static 'images/brain.png' %}" alt="">
            <img class="clear__img3" src="{% static 'images/two.png' %}" alt="">
        </div>
        <h2 class="clear-para">Our complex Searching Algorithm Finds solutions for you and saves time.</h2>
        <button class="clear-btn">Clarify your doubts now!</button>
    </section>

    <section id="section-course" class="container-fluid">
        <h1 class="course-heading">Simply Avail the Complete Course for <span>Free</span></h1></h1>
        <img class="course-img" src="{% static 'images/ellipses.png' %}" alt="">
        <div class="course">
            <div class="course__picture">
                <h3 class="course__picture--title">School Exams - Class 9</h3>
                <img class="course__picture--img" src="{% static 'images/Artboard.png' %}" alt="">
            </div>
            <div class="course__box">
                <h2 class="course__box--title">Embark on the <span>Best Courses</span></h2>
                <div class="course__box--content">
                    <img class="course__box--content-img" src="{% static 'images/lap-icon.png' %}" alt="">
                    <h3 class="course__box--content-heading">Accessible everywhere</h3>
                    <h5 class="course__box--content-para">Access to quality education anytime, anywhere</h5>
                </div>
                <div class="course__box--content">
                    <img class="course__box--content-img" src="{% static 'images/gift-box.png' %}" alt="">
                    <h3 class="course__box--content-heading">Expert Teachers</h3>
                    <h5 class="course__box--content-para">Unlimited access to video solutions</h5>
                </div>
                <div class="course__box--content">
                    <img class="course__box--content-img" src="{% static 'images/trophy.png' %}" alt="">
                    <h3 class="course__box--content-heading">Interactive Sessions</h3>
                    <h5 class="course__box--content-para">Small groups for maximum student - teacher interaction</h5>
                </div>
            </div>
        </div>
        <button class="course-btn" href="">JOIN the Course now!</button>
    </section>

    <section id="section-live" class="container-fluid" style="margin-top: 5rem;">
        <h1 class="live-heading" style="border-bottom: none;">LIVE classes</h1>
        <div class="live">
            <img class="live__img" src="{% static 'images/live1.png' %}" alt="">
            <div class="live__box">
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/global-network.png' %}" alt="">
                    <h3 class="live__box--content-heading">Accessible everywhere</h3>
                    <h5 class="live__box--content-para">Access to quality education anytime, anywhere</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/coaching.png' %}" alt="">
                    <h3 class="live__box--content-heading">Expert Teachers</h3>
                    <h5 class="live__box--content-para">Unlimited access to video solutions</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/presentation.png' %}" alt="">
                    <h3 class="live__box--content-heading">Interactive Sessions</h3>
                    <h5 class="live__box--content-para">Small groups for maximum student - teacher interaction</h5>
                </div>
            </div>
            <img class="ellipses4" src="{% static 'images/ellipses.png' %}" alt="">
        </div>
        
        <h2 class="live-free">FIRST CLASS FREE!</h2>
        <button class="live-btn" href="">Book a class now!</button>
    </section>

    <section id="section-video" class="container-fluid">
        <h1 class="video-heading">Microconcept videos</h1>
        <div class="video">
            <img class="video__img" src="{% static 'images/tablet.png' %}" alt="">
            <div class="video__box">
                <div class="video__box--content">
                    <img class="video__box--content-img" src="{% static 'images/chronometer.png' %}" alt="">
                    <h3 class="video__box--content-heading">Save hours of scrolling pages</h3>
                </div>
                <div class="video__box--content">
                    <img class="video__box--content-img" src="{% static 'images/bulb.png' %}" alt="">
                    <h3 class="video__box--content-heading">Clarify your concepts instantly</h3>
                    <p class="video__box--content-para">Find multilingual video explainations to frequently confused concepts from every subject</p>
                </div>
                <button class="video__box--btn" href="">Start learning now</button>
            </div>
            
        </div>
        <img class="ellipses5" src="{% static 'images/ellipses.png' %}" alt="">
    </section>

 
{% endblock %}