{% extends 'Application/base.html' %}
{% load static %}

{% block content %}
    <!-- <section id="section-embark" class="container-fluid">
        <img class="embark-img" src="{% static 'images/ellipses.png' %}" alt="">
        <div class="embark">
            <div class="embark__picture">
                <img class="embark__picture--img" src="{% static 'images/fly.png' %}" alt="">
            </div>
            <div class="embark__box">
                <h2 class="embark__box--title"><span>Embark on the Best Courses</span> With Us.</h2>
                <div class="embark__box--content">
                    <img class="embark__box--content-img" src="{% static 'images/glow.png' %}" alt="">
                    <h3 class="embark__box--content-heading">Courses curated for your Goals</h3>
                    <h5 class="embark__box--content-para">Learn from the best and crack the exams of your dream!</h5>
                </div>
                <div class="embark__box--content">
                    <img class="embark__box--content-img" src="{% static 'images/magnifying-glass.png' %}" alt="">
                    <h3 class="embark__box--content-heading">Find the Right Course</h3>
                    <h5 class="embark__box--content-para">prepare for your goals and shine more than others</h5>
                </div>
                <div class="embark__box--content">
                    <img class="embark__box--content-img" src="{% static 'images/trophy.png' %}" alt="">
                    <h3 class="embark__box--content-heading">Contains all the ingredients of success</h3>
                    <h5 class="embark__box--content-para">Best Concept Explanation to Question Solving to Doubt Clarity</h5>
                </div>
            </div>
        </div>
        <button class="embark-btn" onclick="location.href='{% url 'join' %}'">JOIN the Course now.</button>
    </section> -->

    <section id="section-jee" class="container-fluid" >
        <img class="jee-img1" src="{% static 'images/ellipses.png' %}" alt="">
        <img class="jee-img2" src="{% static 'images/ellipses.png' %}" alt="">
        <div class="jee">
            <div class="jee__names">
                <h3 class="jee__names--heading">Choose your Course</h3>
                <button class="jee__names--btn" style="transform: translateY(7rem);">Board Exams</button>
                <button class="jee__names--btn" style="transform: translateY(7rem);">CBSE</button>
                <button class="jee__names--btn" style="transform: translateY(7rem);">ICSE</button>
                <button class="jee__names--btn" style="transform: translateY(7rem);">JEE MAIN</button>
                <button class="jee__names--btn" style="transform: translateY(7rem);">JEE Advanced</button>
                <button class="jee__names--btn" style="transform: translateY(7rem);">NEET</button>
                <button class="jee__names--btn" style="transform: translateY(7rem);">Coding</button>
            </div>
            <div class="jee__content">
                <h2 class="jee__content--heading">JEE MAIN <span>Prep Course</span></h2>
                <div class="jee__build">
                    <div class="row">
                        <div class="jee__build--box col-lg-4 col-md-12">
                            <img class="jee__build--box-img" src="{% static 'images/build.png' %}" alt="">
                            <h4 class="jee__build--box-heading">Build your Future</h4>
                            <h5 class="jee__build--box-para">These exams will build your future</h5>
                        </div>
                        <div class="jee__build--box col-lg-4">
                            <img class="jee__build--box-img" src="{% static 'images/pencil.png' %}" alt="">
                            <h4 class="jee__build--box-heading">Crack the Exam of your Dreams</h4>
                            <h5 class="jee__build--box-para">with such a huge competition, improve your score and your rank with us!</h5>
                        </div>
                        <div class="jee__build--box col-lg-4 col-md-12">
                            <img class="jee__build--box-img" src="{% static 'images/medal.png' %}" alt="">
                            <h4 class="jee__build--box-heading">Become the Best</h4>
                            <h5 class="jee__build--box-para">Prepare for your goals and shine more than</h5>
                        </div>
                    </div>
                   
                </div>
                
                <div class="student">
                    <div class="row">
                        <div class="student__build--box col-lg-4 col-md-12">
                            <h4 class="student__build--box-heading">15 lakh+</h4>
                            <h5 class="student__build--box-para">Students who Appear</h5>
                        </div>
                        <div class="student__build--box col-lg-4 col-md-12">
                            <h4 class="student__build--box-heading">1 lakh+</h4>
                            <h5 class="student__build--box-para">Videos on Coursify</h5>
                        </div>
                        <div class="student__build--box col-lg-4 col-md-12">
                            <h4 class="student__build--box-heading">1.8 lakh</h4>
                            <h5 class="student__build--box-para">Students who Qualify</h5>
                        </div>
                    </div>
                </div>

                <div class="reading">
                    <img class="reading__img" src="{% static 'images/reading.png' %}" alt="">
                    <div class="reading__content">
                        <div class="reading__content--sub">
                            <h3 class="reading__content--sub-icon">>></h3>  
                            <h3 class="reading__content--sub-title">Course curated for your Goals  </h3> 
                            <h5 class="reading__content--sub-para">Learn from the best and crack the exams of your dreams!</h5>
                        </div>
                        <div class="reading__content--sub">
                            <h3 class="reading__content--sub-icon">>></h3>  
                            <h3 class="reading__content--sub-title">Know what to study </h3> 
                            <h5 class="reading__content--sub-para">The course gives you the complete study package</h5>
                        </div>
                        <div class="reading__content--sub">
                            <h3 class="reading__content--sub-icon">>></h3>  
                            <h3 class="reading__content--sub-title">From start to end </h3> 
                            <h5 class="reading__content--sub-para">Starting from basic, and ending an advanced concepts</h5>
                        </div>
                    </div>
                </div>

                <div class="courses">
                    <h1 class="courses__heading">OUR COURSES</h1>
                    <h3 class="courses__sub">Give you All</h3>
                    <div class="courses__content">
                        <div class="courses__content--box">
                            <div class="courses__content--box-picture">
                                <img class="courses__content--box-picture-img" src="{% static 'images/bulb1.png' %}" alt="">
                            </div>
                            <h2 class="courses__content--box-heading">All Concepts Covered</h2>
                            <h3 class="courses__content--box-sub">2000+ Concepts Videos</h3>
                            <h3 class="courses__content--box-sub">300+ Questions</h3>
                            <h4 class="courses__content--box-para">Tailored for JEE-Main Prep</h4>
                        </div>
                        <div class="courses__content--box">
                            <div class="courses__content--box-picture">
                                <img class="courses__content--box-picture-img" src="{% static 'images/test.png' %}" alt="">
                            </div>
                            <h2 class="courses__content--box-heading">Tests to help You Prepare</h2>
                            <h3 class="courses__content--box-sub">100+ Tests</h3>
                            <h4 class="courses__content--box-para">Help you prepare for JEE MAIN</h4>
                        </div>
                        <div class="courses__content--box">
                            <div class="courses__content--box-picture">
                                <img class="courses__content--box-picture-img" src="{% static 'images/tutor.png' %}" alt="">
                            </div>
                            <h2 class="courses__content--box-heading">Weekly Contact With Tutor</h2>
                            <h3 class="courses__content--box-sub">Clarify your Doubts</h3>
                            <h4 class="courses__content--box-para">Meet your tutors weekly and clarify all your concepts</h4>
                        </div>
                    </div>
                </div>

                <div class="best">
                    <img class="jee-img1" src="{% static 'images/ellipses.png' %}" alt="" style="transform: translateY(140rem);">
                    <h2 class="best__heading">By the BEST Teachers</h2>
                    <div class="best__content">
                        <div class="best__content--box">
                            <div class="best__content--box-img"></div>
                            <h4 class="best__content--box-heading">Teacher Name</h4>
                            <h5 class="best__content--box-sub">Details</h5>
                        </div>
                        <div class="best__content--box">
                            <div class="best__content--box-img""></div>
                            <h4 class="best__content--box-heading">Teacher Name</h4>
                            <h5 class="best__content--box-sub">Details</h5>
                        </div>
                        <div class="best__content--box">
                            <div class="best__content--box-img"></div>
                            <h4 class="best__content--box-heading">Teacher Name</h4>
                            <h5 class="best__content--box-sub">Details</h5>
                        </div>
                    </div>
                </div>

                <div class="about">
                    <h1 class="about__heading">What Students say about this Course</h1>
                    <div class="about__content">
                        <div class="about__content--img"></div>
                        <h4 class="about__content--para">Coursify enabled me to teach in small groups and have better connectionwith my students. And help them</h4>
                        <h5 class="about__content--sub">Shiv Arora, BSc Science</h5>
                    </div>
                    <button class="about__btn">Start your Preperation Now.</button>
                </div>
            </div>
    </section>

    <section id="section-need" style="position: relative;" class="container-fluid">
        <img class="jee-img3" src="{% static 'images/ellipses.png' %}" alt="">
        <h1 class="need-heading">Course that you might Need...</h1>
        <div class="need" style="position: relative;">
            <dir class="need__content">
                <button class="need__content--back"><</button>
                <div class="chips">
                    <div class="chips__box">
                        <div class="chips__box--item">
                            <div class="chips__box--item-img chips__box--item-pink">
                                <img class="chips__box--item-img-pic" src="{% static 'images/pradeep.png' %}" alt="">
                            </div>
                            <h4 class="chips__box--item-title">JEE Advanced</h4>
                            <h5 class="chips__box--item-subtitle">2000+ concept Video</h5>
                            <h5 class="chips__box--item-subtitle" style="margin-bottom:5rem">300+ Question</h5>
                            <button class="chips__box--item-btn">Join the Course Now</button>
                        </div>
                        <div class="chips__box--item">
                            <div class="chips__box--item-img chips__box--item-green">
                                <img class="chips__box--item-img-pic" src="{% static 'images/pradeep.png' %}" alt="">
                            </div>
                            <h4 class="chips__box--item-title">JEE Advanced</h4>
                            <h5 class="chips__box--item-subtitle">2000+ concept Video</h5>
                            <h5 class="chips__box--item-subtitle" style="margin-bottom:5rem">300+ Question</h5>
                            <button class="chips__box--item-btn">Join the Course Now</button>
                        </div>
                        <div class="chips__box--item">
                            <div class="chips__box--item-img chips__box--item-pink">
                                <img class="chips__box--item-img-pic" src="{% static 'images/pradeep.png' %}" alt="">
                            </div>
                            <h4 class="chips__box--item-title">JEE Advanced</h4>
                            <h5 class="chips__box--item-subtitle">2000+ concept Video</h5>
                            <h5 class="chips__box--item-subtitle" style="margin-bottom:5rem">300+ Question</h5>
                            <button class="chips__box--item-btn">Join the Course Now</button>
                        </div>
                        <div class="chips__box--item">
                            <div class="chips__box--item-img chips__box--item-green">
                                <img class="chips__box--item-img-pic" src="{% static 'images/pradeep.png' %}" alt="">
                            </div>
                            <h4 class="chips__box--item-title">JEE Advanced</h4>
                            <h5 class="chips__box--item-subtitle">2000+ concept Video</h5>
                            <h5 class="chips__box--item-subtitle" style="margin-bottom:5rem">300+ Question</h5>
                            <button class="chips__box--item-btn">Join the Course Now</button>
                        </div>
                    </div>
                </div>
                <button class="need__content--next">></button>
            </div>
        </div>
    </section>

    <section id="section-clear" class="container-fluid">
        <h1 class="clear-heading">Clear your Doubts in just 2 Steps</h1>
        <img class="clear-img" src="{% static 'images/ellipses.png' %}" alt="">
        <div class="clear">
            <img class="clear__img1" src="{% static 'images/one.png' %}" alt="">
            <img class="clear__img2" src="{% static 'images/brain.png' %}" alt="">
            <img class="clear__img3" src="{% static 'images/two.png' %}" alt="">
        </div>
        <h2 class="clear-para">Our complex Searching Algorithm Finds solutions for you and saves time.</h2>
        <button class="clear-btn">Clarify your doubts now!</button>
    </section>

    <section id="section-live" class="container-fluid">
        <h1 class="live-heading" style="border-bottom: none;">LIVE classes</h1>
        <div class="live">
            <img class="live__img" src="{% static 'images/live1.png' %}" alt="">
            <div class="live__box">
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/global-network.png' %}" alt="">
                    <h3 class="live__box--content-heading">Accessible everywhere</h3>
                    <h5 class="live__box--content-para">Access to quality education anytime, anywhere</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/coaching.png' %}" alt="">
                    <h3 class="live__box--content-heading">Expert Teachers</h3>
                    <h5 class="live__box--content-para">Unlimited access to video solutions</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/presentation.png' %}" alt="">
                    <h3 class="live__box--content-heading">Interactive Sessions</h3>
                    <h5 class="live__box--content-para">Small groups for maximum student - teacher interaction</h5>
                </div>
            </div>
            <img class="ellipses4" src="{% static 'images/ellipses.png' %}" alt="">
        </div>
        
        <h2 class="live-free">FIRST CLASS FREE!</h2>
        <button class="live-btn" href="">Book a class now!</button>
    </section>

    <section id="section-video" class="container-fluid">
        <h1 class="video-heading">Microconcept videos</h1>
        <div class="video">
            <img class="video__img" src="{% static 'images/tablet.png' %}" alt="">
            <div class="video__box">
                <div class="video__box--content">
                    <img class="video__box--content-img" src="{% static 'images/chronometer.png' %}" alt="">
                    <h3 class="video__box--content-heading">Save hours of scrolling pages</h3>
                </div>
                <div class="video__box--content">
                    <img class="video__box--content-img" src="{% static 'images/bulb.png' %}" alt="">
                    <h3 class="video__box--content-heading">Clarify your concepts instantly</h3>
                    <p class="video__box--content-para">Find multilingual video explainations to frequently confused concepts from every subject</p>
                </div>
                <button class="video__box--btn" href="">Start learning now</button>
            </div>
            
        </div>
        <img class="ellipses5" src="{% static 'images/ellipses.png' %}" alt="">
    </section>

    <!-- <section id="section-doubts" class="container-fluid">
        <h1 class="doubts-heading">Solve your doubts faster.</h1>
        <div class="doubts">
            <div class="doubts__box">
                <div class="doubts__box--content">
                    <img class="doubts__box--content-img" src="{% static 'images/global-network.png' %}" alt="">
                    <h3 class="doubts__box--content-heading">Accessible everywhere</h3>
                    <p class="doubts__box--content-para">Access to quality educations anytime, anywhere</p>
                </div>
                <div class="doubts__box--content">
                    <img class="doubts__box--content-img" src="{% static 'images/presentation.png' %}" alt="">
                    <h3 class="doubts__box--content-heading">1 million+ videos</h3>
                    <p class="doubts__box--content-para">Unlimited access to video solutions</p>
                </div>
            </div>

            <img class="doubts__img" src="{% static 'images/computer.png' %}" alt="">
            
            <div class="doubts__work">
                <h3 class="doubts__work--heading">How it works?</h3>
                <div class="doubts__work--img">
                    <div class="doubts__work--img-item1">
                        <h4 class="doubts__work--img-item1-heading">Have a doubt?</h4>
                        <img class="doubts__work--img-item1-image" src="{% static 'images/doubt.png' %}" alt="">
                        <h5 class="number-circle">1</h5>
                    </div>
                    
                    <img class="connect" src="{% static 'images/connect.png' %}" alt="">
                    
                    <div class="doubts__work--img-item2">
                        <div class="doubts__work--img-item2-image1">   
                            <img class="keyboard" src="{% static 'images/keyboard.png' %}" alt="">
                            <h3 class="keyboard-text">Type the question</h3>
                        </div>
                        <h4 class="doubts__work--img-item2-text">OR</h4>
                        <div class="doubts__work--img-item2-image2">
                            <img class="upload" src="{% static 'images/upload.png' %}" alt="">
                            <h3 class="upload-text">Upload image</h3>
                        </div>
                        <h5 class="number-circle">2</h5>
                    </div>
                    
                    <img class="connect" src="{% static 'images/connect.png' %}" alt="">

                    <div class="doubts__work--img-item3">
                        <img class="work" src="{% static 'images/work.png' %}" alt="">
                        <h3 class="work-text">Type the question</h3>
                        <h5 class="number-circle">3</h5>
                    </div>
                    
                </div>
            </div>
        </div>
        <img class="doubt-ellipse" src="{% static 'images/ellipses.png' %}" alt="">
        <button class="doubt-btn">Clarify your doubts now!</button>
    </section>

    <section id="section-live" class="container-fluid">
        <h1 class="live-heading">LIVE classes</h1>
        <div class="live">
            <img class="live__img" src="{% static 'images/live.png' %}" alt="">
            <div class="live__box">
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/global-network.png' %}" alt="">
                    <h3 class="live__box--content-heading">Accessible everywhere</h3>
                    <h5 class="live__box--content-para">Access to quality education anytime, anywhere</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/coaching.png' %}" alt="">
                    <h3 class="live__box--content-heading">Expert Teachers</h3>
                    <h5 class="live__box--content-para">Unlimited access to video solutions</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/presentation.png' %}" alt="">
                    <h3 class="live__box--content-heading">Interactive Sessions</h3>
                    <h5 class="live__box--content-para">Small groups for maximum student - teacher interaction</h5>
                </div>
            </div>
            <img class="jee-img5" src="{% static 'images/ellipses.png' %}" alt="">
        </div>
        
        <h2 class="live-free">FIRST CLASS FREE!</h2>
        <button class="live-btn" href="">Book a class now!</button>
    </section> -->
    
 {% endblock %}