{% extends 'Application/base.html' %}
{% load static %}

{% block content %}

    <section id="section-drop" class="container-fluid">
        <div class="drop">
            <h3 class="drop__upload"><img class="drop__upload--img" src="{% static 'images/refresh.png' %}" alt="">    Upload another question</h3>
            <h1 class="drop__heading">Crop your Question</h1>
            <button class="drop__btn"><img src="{% static 'images/close.png' %}" class="drop__btn--exit"></button>
            <div class="drop__content">
                <div class="drop__content--cross">
                    <hr class="drop__content--cross-line1">
                    <div class="drop__content--cross-center"></div>
                    <hr class="drop__content--cross-line2">
                </div>
                <div class="drop__content--box">
                    <form class="drop__content--box-form" action="">
                        <div class="drop__content--box-form-check">
                            <input class="drop__content--box-form-check-input" name="crop" type="checkbox">
                            <label class="drop__content--box-form-check-label" for="crop">I have properly cropped one question only</label>
                        </div>
                        <button class="drop__content--box-form-btn" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}