{% extends 'Application/base.html' %}
{% load static %}

{% block content %}
        <div style="margin-top: 10rem;">
            <link rel="stylesheet" href="{% static 'live.css' %}">
<div class="content">
    <div class="flex flex-column">
        <h1 class="red">LIVE Classes Anywhere.</h1>
        <h1 class="blue">Just a Click Away.</h1>
        <div class="tutors">
            <img class="tutors-img" src="{% static 'images/Group18806.png' %}" alt="">
            <section class="flex flex-column">
                <h1><span class="red"> Learn with the </span><br><span class="red"> BEST TUTORS</span></h1>
                <section class="flex flex-column">
                    <span class="flex v-center"><img width="35px" height="35px"  src="{% static 'images/tick.png' %}" alt=""><span style="font-size: 20px;margin: 1rem;">Doubts Clarified</span></span>
                    <span class="flex v-center"><img width="35px" height="35px"  src="{% static 'images/tick.png' %}" alt=""><span style="font-size: 20px;margin: 1rem;">Concepts Cleared</span></span>
                </section>
                <h1 class="blue">1st Class FREE!</h1>
                <a class="button text-center" href="">Book A Live Class Now</a>
            </section>
        </div>
    </div>
    <div class="flex flex-column center margin">
        <h1 class="header"><span>WHY LIVE CLASSES?</span><span class="underline"></span></h1>
        <section class="flex flex-column center margin">
            <img width="100px" height="auto" src="{% static 'images/clock.png' %}" alt="">
            <h1 class="red">Instant Doubt Clarification</h1>
            <span class="font-20">No Waiting for doubts to be clarified.</span>
        </section>
        <section class="flex flex-column center margin">
            <img width="100px" height="auto" src="{% static 'images/people.png' %}" alt="">
            <h1 class="red">No Language Barrier</h1>
            <span class="font-20">Understand concepts in your own language</span>
        </section>
        <section class="flex flex-column center margin">
            <img width="100px" height="auto" src="{% static 'images/003-books.png' %}" alt="">
            <h1 class="red">Complete Prep Package</h1>
            <span class="font-20">Receive Live Guidance and Assistance <br> To Achieve your goals with our support!</span>
        </section>
        <a class="button class-btn" href="">Book A Live Class Now</a>
    </div>
    <div>
        <h1 class="text-center margin"><span class="blue">Join Coursify. </span><span class="red">To GET it all!!</span></h1>
        <div class="flex join v-center">
            <img class="join-img" src="{% static 'images/tutorillus.png' %}" alt="">
            <div class="flex flex-column">
                <span class="flex v-center"><img width="30px" height="30px" src="{% static 'images/tick.png' %}" alt=""><span style="font-size: 20px;margin: 1rem;">Get access to Tutors regularly</span></span>
                <span class="flex v-center"><img width="30px" height="30px" src="{% static 'images/tick.png' %}" alt=""><span style="font-size: 20px;margin: 1rem;">Indulge and Benefit from the Community</span></span>
                <span class="flex v-center"><img width="30px" height="30px" src="{% static 'images/tick.png' %}" alt=""><span style="font-size: 20px;margin: 1rem;">Peer to Peer Learning</span></span>
                <span class="flex v-center"><img width="30px" height="30px" src="{% static 'images/tick.png' %}" alt=""><span style="font-size: 20px;margin: 1rem;">Check your performance with Graded Tests</span></span>
                <span class="flex v-center"><img width="30px" height="30px" src="{% static 'images/tick.png' %}" alt=""><span style="font-size: 20px;margin: 1rem;">Parent Interaction for Better Understanding</span></span>
            </div>
        </div>
    </div>
</div>
<div>
    <section class="header">
        <h1><span>Join Our LIVE Classes NOW!</span><span class="underline"></span></h1>
    </section>
    <div class="flex flex-column center">
        <section class="flex center">
            <section class="card flex flex-column center" style="position: relative;">
                <section class="flex center"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140" height="80" viewBox="0 0 235 166">
                    <defs>
                      <filter id="Rectangle_6716" x="0" y="0" width="235" height="166" filterUnits="userSpaceOnUse">
                        <feOffset dy="3" input="SourceAlpha"/>
                        <feGaussianBlur stdDeviation="3" result="blur"/>
                        <feFlood flood-opacity="0.302"/>
                        <feComposite operator="in" in2="blur"/>
                        <feComposite in="SourceGraphic"/>
                      </filter>
                    </defs>
                    <g id="Group_65719" data-name="Group 65719" transform="translate(-256 -4054)">
                      <g transform="matrix(1, 0, 0, 1, 256, 4054)" filter="url(#Rectangle_6716)">
                        <rect id="Rectangle_6716-2" data-name="Rectangle 6716" width="217" height="148" rx="10" transform="translate(9 6)" fill="#58bb7c"/>
                      </g>
                      <g id="Group_65718" data-name="Group 65718" transform="translate(299.629 4079.597)">
                        <rect id="Rectangle_6722" data-name="Rectangle 6722" width="74.005" height="102.662" transform="translate(0 6.929)" fill="#3a5569"/>
                        <rect id="Rectangle_6753" data-name="Rectangle 6753" width="74.005" height="102.662" transform="translate(74.006 6.929)" fill="#3a5569"/>
                        <path id="Path_86826" data-name="Path 86826" d="M82.041,65.067H23.467V164.58H81.1s9.447,1.26,9.447,10.077V73.57A8.467,8.467,0,0,0,82.041,65.067Z" transform="translate(-16.537 -65.067)" fill="#f2eeed"/>
                        <path id="Path_86830" data-name="Path 86830" d="M259.17,65.067h58.574V164.58H260.114s-9.447,1.26-9.447,10.077V73.57A8.467,8.467,0,0,1,259.17,65.067Z" transform="translate(-176.663 -65.067)" fill="#e2e1e0"/>
                        <rect id="Rectangle_6743" data-name="Rectangle 6743" width="18.265" height="2.834" transform="translate(18.895 41.885)" fill="#e0e0df"/>
                        <rect id="Rectangle_6744" data-name="Rectangle 6744" width="42.513" height="2.834" transform="translate(18.895 51.963)" fill="#e0e0df"/>
                        <rect id="Rectangle_6745" data-name="Rectangle 6745" width="42.513" height="2.834" transform="translate(18.895 61.725)" fill="#e0e0df"/>
                        <rect id="Rectangle_6746" data-name="Rectangle 6746" width="42.513" height="2.834" transform="translate(18.895 71.487)" fill="#e0e0df"/>
                        <rect id="Rectangle_6747" data-name="Rectangle 6747" width="42.513" height="2.834" transform="translate(18.895 81.249)" fill="#e0e0df"/>
                        <rect id="Rectangle_6748" data-name="Rectangle 6748" width="17.005" height="22.359" transform="translate(44.088 22.359)" fill="#f16d6e"/>
                        <rect id="Rectangle_6754" data-name="Rectangle 6754" width="42.513" height="2.834" transform="translate(86.286 51.961)" fill="#ccc4c4"/>
                        <rect id="Rectangle_6755" data-name="Rectangle 6755" width="42.513" height="2.834" transform="translate(86.286 81.249)" fill="#ccc4c4"/>
                        <rect id="Rectangle_6756" data-name="Rectangle 6756" width="17.005" height="22.359" transform="translate(111.479 22.359)" fill="#e0bba6"/>
                        <rect id="Rectangle_6757" data-name="Rectangle 6757" width="42.513" height="15.746" transform="translate(86.286 60.15)" fill="#f7b044"/>
                        <rect id="Rectangle_6758" data-name="Rectangle 6758" width="17.005" height="22.359" transform="translate(86.286 22.359)" fill="#e0bba6"/>
                      </g>
                    </g>
                  </svg>
                  <span><p><span>Maths</span>(12th Boards)</p>
                  <span class="blue">Teacher Details</span></span>
                </section>
                <h1 class="blue" style="margin: 1rem;">1st Class Free !</h1>
                <a class="button" href="" style="position: absolute;transform: translateY(250%);">Book A Live Class Now</a>  
            </section>
            <section class="card flex flex-column center" style="position: relative;">
                <section class="flex center" >
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140" height="80" viewBox="0 0 235 166">
                        <defs>
                          <filter id="Rectangle_6716" x="0" y="0" width="235" height="166" filterUnits="userSpaceOnUse">
                            <feOffset dy="3" input="SourceAlpha"/>
                            <feGaussianBlur stdDeviation="3" result="blur"/>
                            <feFlood flood-opacity="0.302"/>
                            <feComposite operator="in" in2="blur"/>
                            <feComposite in="SourceGraphic"/>
                          </filter>
                        </defs>
                        <g id="Group_65719" data-name="Group 65719" transform="translate(-256 -4054)">
                          <g transform="matrix(1, 0, 0, 1, 256, 4054)" filter="url(#Rectangle_6716)">
                            <rect id="Rectangle_6716-2" data-name="Rectangle 6716" width="217" height="148" rx="10" transform="translate(9 6)" fill="#f397b6"/>
                          </g>
                          <g id="Group_65718" data-name="Group 65718" transform="translate(299.629 4079.597)">
                            <rect id="Rectangle_6722" data-name="Rectangle 6722" width="74.005" height="102.662" transform="translate(0 6.929)" fill="#3a5569"/>
                            <rect id="Rectangle_6753" data-name="Rectangle 6753" width="74.005" height="102.662" transform="translate(74.006 6.929)" fill="#3a5569"/>
                            <path id="Path_86826" data-name="Path 86826" d="M82.041,65.067H23.467V164.58H81.1s9.447,1.26,9.447,10.077V73.57A8.467,8.467,0,0,0,82.041,65.067Z" transform="translate(-16.537 -65.067)" fill="#f2eeed"/>
                            <path id="Path_86830" data-name="Path 86830" d="M259.17,65.067h58.574V164.58H260.114s-9.447,1.26-9.447,10.077V73.57A8.467,8.467,0,0,1,259.17,65.067Z" transform="translate(-176.663 -65.067)" fill="#e2e1e0"/>
                            <rect id="Rectangle_6743" data-name="Rectangle 6743" width="18.265" height="2.834" transform="translate(18.895 41.885)" fill="#e0e0df"/>
                            <rect id="Rectangle_6744" data-name="Rectangle 6744" width="42.513" height="2.834" transform="translate(18.895 51.963)" fill="#e0e0df"/>
                            <rect id="Rectangle_6745" data-name="Rectangle 6745" width="42.513" height="2.834" transform="translate(18.895 61.725)" fill="#e0e0df"/>
                            <rect id="Rectangle_6746" data-name="Rectangle 6746" width="42.513" height="2.834" transform="translate(18.895 71.487)" fill="#e0e0df"/>
                            <rect id="Rectangle_6747" data-name="Rectangle 6747" width="42.513" height="2.834" transform="translate(18.895 81.249)" fill="#e0e0df"/>
                            <rect id="Rectangle_6748" data-name="Rectangle 6748" width="17.005" height="22.359" transform="translate(44.088 22.359)" fill="#f16d6e"/>
                            <rect id="Rectangle_6754" data-name="Rectangle 6754" width="42.513" height="2.834" transform="translate(86.286 51.961)" fill="#ccc4c4"/>
                            <rect id="Rectangle_6755" data-name="Rectangle 6755" width="42.513" height="2.834" transform="translate(86.286 81.249)" fill="#ccc4c4"/>
                            <rect id="Rectangle_6756" data-name="Rectangle 6756" width="17.005" height="22.359" transform="translate(111.479 22.359)" fill="#e0bba6"/>
                            <rect id="Rectangle_6757" data-name="Rectangle 6757" width="42.513" height="15.746" transform="translate(86.286 60.15)" fill="#f7b044"/>
                            <rect id="Rectangle_6758" data-name="Rectangle 6758" width="17.005" height="22.359" transform="translate(86.286 22.359)" fill="#e0bba6"/>
                          </g>
                        </g>
                      </svg>
                      
                    <span>
                        <p><span>Maths</span>(12th Boards)</p>
                    <span class="blue">Teacher Details</span>
                    </span>
                </section>
                <h1 class="blue" style="margin: 1rem;">1st Class Free !</h1>
                <a class="button" href="" style="position: absolute;transform: translateY(250%);">Book A Live Class Now</a>  
            </section>
            
        </section>
        <a class="margin font-20" href="" style="color:rgb(214,11,60);border-bottom: 1px solid rgb(214,11,60);font-weight: bolder;">View All</a>
    </div>
    <div>
        <h1 class="red text-center margin">Achieve your GOALS With Us.</h1>
        <section class="header">
            <h1 style="border-bottom: 3px solid rgb(214,11,60);"><span class="flex v-center">Starting at just  <span style="font-size: 80px;"> &#x20B9; </span>  25 per class</span></h1>
        </section>
        <div class="flex offers">
            <div class="bluecards">
                <h1>BASIC</h1>
                <section>
                    <h1>Classes 6-8</h1>
                    <p>All The Classes <br> Tutor Interaction -  Once Per Week <br> Parent Interaction - Once Per Two Weeks</p>
                    <a href="">Subscribe Now @ 25/- per class</a>
                </section>
                <section>
                    <h1>Classes 6-8</h1>
                    <p>All The Classes <br> Tutor Interaction -  Once Per Week <br> Parent Interaction - Once Per Two Weeks</p>
                    <a href="">Subscribe Now @ 25/- per class</a>
                </section>
                <section>
                    <h1>Classes 6-8</h1>
                    <p>All The Classes <br> Tutor Interaction -  Once Per Week <br> Parent Interaction - Once Per Two Weeks</p>
                    <a href="">Subscribe Now @ 25/- per class</a>
                </section>
            </div>
            <div class="redcards">
                <h1>Premium</h1>
                <section>
                    <h1>Classes 6-8</h1>
                    <p>
                        All The Classes <br> Tutor Interaction - Thrice Per Week <br> Parent Interaction - Twice Per Two <br> Weeks <br> Unlimited Content and Free Courses
                    </p>
                    <a href="">Subscribe Now @ 25/- per class</a>
                </section>
                <section>
                    <h1>Classes 6-8</h1>
                    <p>
                        All The Classes <br> Tutor Interaction - Thrice Per Week <br> Parent Interaction - Twice Per Two <br> Weeks <br> Unlimited Content and Free Courses
                    </p>
                    <a href="">Subscribe Now @ 25/- per class</a>
                </section>
                <section>
                    <h1>Classes 6-8</h1>
                    <p>
                        All The Classes <br> Tutor Interaction - Thrice Per Week <br> Parent Interaction - Twice Per Two <br> Weeks <br> Unlimited Content and Free Courses
                    </p>
                    <a href="">Subscribe Now @ 25/- per class</a>
                </section>
            </div>
        </div>
    </div>
    <div>
        <section class="header">
            <h1>
                <span>Meet your Teachers</span>
                <span class="underline"></span>
            </h1>
        </section>
        <div class="flex teachers">
            <section class="flex flex-column center start">
                <img src="{% static 'images/MaskGroup11.png' %}" alt="">
                <h3>Teacher Name</h3>
                <h4>Details</h4>
            </section>
            <section class="flex flex-column center  end">
                <img src="{% static 'images/MaskGroup11.png' %}" alt="">
                <h3>Teacher Name</h3>
                <h4>Details</h4>
            </section>
            <section class="flex flex-column center start">
                <img src="{% static 'images/MaskGroup11.png' %}" alt="">
                <h3>Teacher Name</h3>
                <h4>Details</h4>
            </section>
            <section class="flex flex-column center end">
                <img src="{% static 'images/MaskGroup11.png' %}" alt="">
                <h3>Teacher Name</h3>
                <h4>Details</h4>
            </section>
        </div>
    </div>
    <div>
        <section class="header">
            <h1>
                <span>Whats our students say about <br> Coursify LIVE</span>
                <span class="underline"></span>
            </h1>
        </section>
        <div class="students">
            <ul class="flex">
                <li class="card">
                    <img class="border-radius-15" style="float: left;" src="{% static 'images/MaskGroup11.png' %}" alt="" height="70" width="70">
                    <p style="text-align: right;">
                        Coursify enabled me to <br> 
                        teach in small groups <br>
                        and have better connection <br> 
                        with my students.And help them
                    </p>
                    <small class="float-right blue font-weight-bold text-center" style="width: 108;
                    height: 60;">Shiv Arora,<br> BSc Science</small>
                </li>
                <li class="card">
                    <img class="border-radius-15" style="float: left;" src="{% static 'images/MaskGroup11.png' %}" alt="" height="70" width="70">
                    <p style="text-align: right;">
                        Coursify enabled me to <br> 
                        teach in small groups <br>
                        and have better connection <br> 
                        with my students.And help them
                    </p>
                    <small class="float-right blue font-weight-bold text-center" style="width: 108;
                    height: 60;">Shiv Arora,<br> BSc Science</small>
                </li>
                <li class="card">
                    <img class="border-radius-15" style="float: left;" src="{% static 'images/MaskGroup11.png' %}" alt="" height="70" width="70">
                    <p style="text-align: right;">
                        Coursify enabled me to <br> 
                        teach in small groups <br>
                        and have better connection <br> 
                        with my students.And help them
                    </p>
                    <small class="float-right blue font-weight-bold text-center" style="width: 108;
                    height: 60;">Shiv Arora,<br> BSc Science</small>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}