{% extends 'Application/base.html' %}
{% load static %}

{% block content %}
    <section id="section-learn" class="container-fluid">
        <h1 class="learn-heading">LIVE Classes Anywhere.</h1>
        <h3 class="learn-subheading">Just a Click Away.</h3>
        <div class="learn">
            <img class="learn__img" src="{% static 'images/tablet.png' %}" alt="">
            <div class="learn__content">
                <h2 class="learn__content--heading">Learn with the</h1>
                <h1 class="learn__content--subheading">BEST TUTORS</h1>
                <h3 class="learn__content--items">>> &nbsp; Doubts Clarified</h3>
                <h3 class="learn__content--items">>> &nbsp; Concepts Cleared</h3>
                <h4 class="learn__content--text">1st CLASS FREE!</h4>
                <button class="learn__content--btn">Book A Live Class Now</button>
            </div>
        </div>
    </section>

    <section id="section-price" class="container-fluid">
        <h1 class="price-heading">Achieve your GOALS With Us.</h1>
        <h1 class="price-subheading">Starting at just <span>&#x20B9;</span> 1000 per month</h1>
        <img class="price-bg" src="{% static 'images/bglarge1.png' %}">
        <h1 class="price-premium"><img class="price-premium--img" src="{% static 'images/Crown.png' %}" alt=""> Premium</h1>
        <div class="price">
            <div class="price__content">
                <img class="price__content--img" src="{% static 'images/card4.png' %}" alt="">
                <img class="price__content--img" src="{% static 'images/card5.png' %}" alt="">
                <img class="price__content--img" src="{% static 'images/card6.png' %}" alt="">
            </div>
        </div>
        <h1 class="price-basic">Basic</h1>
        <div class="price">
            <div class="price__content">
                <img class="price__content--img" src="{% static 'images/card1.png' %}" alt="">
                <img class="price__content--img" src="{% static 'images/card2.png' %}" alt="">
                <img class="price__content--img" src="{% static 'images/card3.png' %}" alt="">
            </div>
        </div>
    </section>

    <section id="section-why" class="container-fluid">
        <h1 class="why-heading">WHY LIVE CLASSES?</h1>
        <img class="why-img1" src="{% static 'images/ellipses.png' %}" alt=""> 
        <div class="why">
            <img class="why__img" src="{% static 'images/internet.png' %}" alt="">
            <div class="why__content">
                <div class="why__content--box">
                <img class="why__content--box-img" src="{% static 'images/clock.png' %}" alt="">
                    <h3 class="why__content--box-title">Instant Doubt Clarification</h3>
                    <p class="why__content--box-para">No Waiting for doubts to be clarified.</p>
                </div>
                <div class="why__content--box">
                    <img class="why__content--box-img" src="{% static 'images/people.png' %}" alt="">
                    <h3 class="why__content--box-title">No Language Barrier</h3>
                    <p class="why__content--box-para">Understand concepts in your own language<p>
                </div>
                <div class="why__content--box">
                    <img class="why__content--box-img" style="width: 7rem;height:6rem;" src="{% static 'images/003-books.png' %}" alt="">
                    <h3 class="why__content--box-title">Complete Prep Package</h3>
                    <p class="why__content--box-para" style="width: 60%;">Receive Live Guidance and Assistance To Achive your goal with our support!</p>
                </div>
                <button class="why__btn">Book A Live Class Now</button>
            </div>
        </div>
    </section>

    <section id="section-get" class="container-fluid">
        <img class="get-img1" src="{% static 'images/ellipses.png' %}" alt=""> 
        <h1 class="get-heading">Join Coursify. <span>TO GET it all!!</span></h1>
        <div class="get">
            <img class="get__img" src="{% static 'images/tutorials.png' %}" alt="">
            <div class="get__content">
                <h3 class="get__content--text"><span>>></span> Get access to Tutors reqularly</h3>
                <h3 class="get__content--text"><span>>></span> Indulge and Benefit from the Community</h3>
                <h3 class="get__content--text"><span>>></span> Peer to Peer Learning</h3>
                <h3 class="get__content--text"><span>>></span> Check your performance with Graded Tests</h3>
                <h3 class="get__content--text"><span>>></span> Parent interaction for Better Understanding</h3>
            </div>
        </div>
    </section>

    <section id="section-now" class="container-fluid">
        <h1 class="now-heading">Join Our LIVE Classes NOW!</h1>
        <div class="now">
            <div class="now__content">
                <div class="now__content--box">
                    <div class="now__content--box-img">
                        <img class="now__content--box-img-item" src="{% static 'images/pradeep.png' %}" alt="">
                    </div>
                    <h3 class="now__content--box-title"><span>Maths</span> (12th Boards)</h3>
                    <h4 class="now__content--box-sub">Teacher Details</h4>
                </div>
                <h3 class="now__content--text">1st Class Free !</h3>
                <button class="now__content--btn">Book A Live Class Now</button>
            </div>
            <div class="now__content">
                <div class="now__content--box">
                    <div class="now__content--box-img" style="background-color: #F397B6;">
                        <img class="now__content--box-img-item" src="{% static 'images/pradeep.png' %}" alt="">
                    </div>
                    <h3 class="now__content--box-title"><span>Maths</span> (12th Boards)</h3>
                    <h4 class="now__content--box-sub">Teacher Details</h4>
                </div>
                <h3 class="now__content--text">1st Class Free !</h3>
                <button class="now__content--btn">Book A Live Class Now</button>
            </div>
        </div>
    </section>

    <section id="section-meet" class="container-fluid">
        <h1 class="meet-heading">Meet your Teachers</h1>
        <div class="meet">
            <img class="state-img3" src="{% static 'images/ellipses.png' %}" alt="">
            <div class="meet__content">
                <img class="meet-img1" src="{% static 'images/circlepink.png' %}" alt=""> 
                <img class="meet__content--img" src="{% static 'images/group.jpg' %}">
                <h3 class="meet__content--title">Teacher Name</h3>
                <h4 class="meet__content--sub">Details</h4>
            </div>
            <div class="meet__content">
                <img class="meet-img2" src="{% static 'images/circleorange.png' %}" alt=""> 
                <img class="meet__content--img" src="{% static 'images/group.jpg' %}">
                <h3 class="meet__content--title">Teacher Name</h3>
                <h4 class="meet__content--sub">Details</h4>
            </div>
        </div>
        <div class="meet">
                <div class="meet__content" style="justify-self: center;">
                <img class="meet-img3" src="{% static 'images/circlegreen.png' %}" alt=""> 
                <img class="meet__content--img" style="height: 18rem;width:18rem;" src="{% static 'images/group.jpg' %}">
                <h3 class="meet__content--title">Teacher Name</h3>
                <h4 class="meet__content--sub">Details</h4>
            </div>
            <div class="meet__content" style="justify-self: center;">
                <img class="meet-img4" src="{% static 'images/circlepink.png' %}" alt=""> 
                <img class="meet__content--img" src="{% static 'images/group.jpg' %}">
                <h3 class="meet__content--title">Teacher Name</h3>
                <h4 class="meet__content--sub">Details</h4>
            </div>
        </div>
        <img class="meet-img5" src="{% static 'images/ellipses.png' %}" alt="">
    </section>

    <section id="section-say" class="container-fluid">
        <h1 class="say-heading">See what our students have to say</h1>
        <div class="say">
            <img class="say__img" src="{% static 'images/play.png' %}" alt="">
            <div class="say__content">
                <div class="say__content--img" style="background-image: url('../../../static/images/group.jpg');"></div>
                <p class="say__content--para">Coursify enabled me to teach in small groups and have better connection with my students.</p>
                <h4 class="say__content--text">-Shiv Arora , BSc Science</h4>
            </div> 
            <div class="say__arrow">
                <h2 class="say__arrow--1"><</h2>
                <h2 class="say__arrow--2">></h2>
            </div> 
        </div>
        <img class="say-img1" src="{% static 'images/ellipses.png' %}" alt="">
        <button class="say-btn">Download the app for free</button>
    </section>
{% endblock content %}