{% extends 'Application/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'main.css' %}">
    <section id="section-chapter" class="container-fluid">
        <img class="chapter-img1" src="{% static 'images/ellipses.png' %}" alt="">
        <img class="chapter-img2" src="{% static 'images/ellipse.png' %}" alt="">
        <img class="chapter-img3" src="{% static 'images/ellipses.png' %}" alt="">

        <div class="chapter">
            <h1 class="chapter__heading">Class 9th > Maths > NCERT > <span>Chapter 1</span></h1>
            <h3 class="chapter__subheading">Exercise 1.1</h3>
            <dir class="chapter__content">
                <div class="chips">
                    
                    <div class="chips__box">
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q1</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q2</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--orange">
                            <img class="chips__box--item-img" src="{% static 'images/sinha.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q3</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--blue">
                            <img class="chips__box--item-img" src="{% static 'images/ncert.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q4</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q5</h4>
                        </div>
                    </div>
                    <div class="chips__box">
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q1</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q2</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--orange">
                            <img class="chips__box--item-img" src="{% static 'images/sinha.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q3</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--blue">
                            <img class="chips__box--item-img" src="{% static 'images/ncert.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q4</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q5</h4>
                        </div>
                    </div>
                    <div class="chips__box">
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q1</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q2</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--orange">
                            <img class="chips__box--item-img" src="{% static 'images/sinha.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q3</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--blue">
                            <img class="chips__box--item-img" src="{% static 'images/ncert.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q4</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q5</h4>
                        </div>
                    </div>
                    <div class="chips__box">
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q1</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q2</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--orange">
                            <img class="chips__box--item-img" src="{% static 'images/sinha.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q3</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--blue">
                            <img class="chips__box--item-img" src="{% static 'images/ncert.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q4</h4>
                        </div>
                        <div style="cursor: pointer;" onclick="location.href='{% url 'question' %}'" class="chips__box--item chips__box--pink">
                            <img class="chips__box--item-img" src="{% static 'images/arora.png' %}" alt="">
                            <h4 class="chips__box--item-title">Q5</h4>
                        </div>
                    </div>
                    
                </div>
            </dir>
        </div>
    </section>

    <section id="section-exercise" class="container-fluid">
        <h1 class="exercise-heading">Other Exercises you <span>must Solve</span></h1>
        <div class="exercise">
            <dir class="exercise__content">
                <button class="exercise__content--back"><</button>
                <div class="chips">
                    <div class="chips__box">
                        <div class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Exercise 1.1</h4>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Exercise 1.2</h4>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Exercise 1.3</h4>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Exercise 1.4</h4>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Exercise 1.5</h4>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item chips__box--green">
                            <img class="chips__box--item-img" src="{% static 'images/pradeep.png' %}" alt="">
                            <h4 class="chips__box--item-title">Exercise 1.6</h4>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                    </div>
                </div>
                <button class="exercise__content--next">></button>
            </div>
        </div>
    </section>

    <section id="section-maths" class="container-fluid">
        <h1 class="maths-heading">Other Math Books you <span>Must Have</span></h1>
        <img class="maths-img" src="{% static 'images/ellipses.png' %}" alt="">
        <div class="maths">
            <dir class="maths__content">
                <button class="maths__content--back"><</button>
                <div class="chips">
                    <div class="chips__box">
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book1.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">R.D SHARMA</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book2.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">R.S AGARWAL</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book3.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">S.S. LONEY</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book1.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">R.D SHARMA</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book2.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">R.S AGARWAL</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book3.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">S.S. LONEY</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                    </div>
                </div>
                <button class="maths__content--next">></button>
            </div>
        </div>
    </section>

    <section id="section-science" class="container-fluid" >
        <h1 class="science-heading">Other Subject Books <span>you must Prepare</span></h1>
        <div class="science">
            <dir class="science__content">
                <button class="science__content--back"><</button>
                <div class="chips">
                    <div class="chips__box">
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book4.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">R.D SHARMA</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book5.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">R.S AGARWAL</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book6.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">S.S. LONEY</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book4.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">R.D SHARMA</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book5.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">R.S AGARWAL</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                        <div class="chips__box--item">
                            <img class="chips__box--item-img" src="{% static 'images/book6.png' %}" alt="">
                            <div class="chips__box--item-title">
                                <h4 class="chips__box--item-title-1">S.S. LONEY</h4>
                                <h5 class="chips__box--item-title-2">1000+ questions</h5>
                                <h5 class="chips__box--item-title-2">2000+ Videos</h5>
                            </div>
                            <h5 class="chips__box--item-subtitle">Start Solving Now</h5>
                        </div>
                    </div>
                </div>
                <button class="science__content--next">></button>
            </div>
        </div>
    </section>

    <section id="section-video" class="container-fluid">
        <h1 class="video-heading">Microconcept videos</h1>
        <div class="video">
            <div class="video__box">
                <div class="video__box--content">
                    <img class="video__box--content-img" src="{% static 'images/chronometer.png' %}" alt="">
                    <h3 class="video__box--content-heading">Save hours of scrolling pages</h3>
                </div>
                <div class="video__box--content">
                    <img class="video__box--content-img" src="{% static 'images/bulb.png' %}" alt="">
                    <h3 class="video__box--content-heading">Clarify your concepts instantly</h3>
                    <p class="video__box--content-para">Find multilingual video explainations to frequently confused concepts from every subject</p>
                </div>
                <button class="video__box--btn" href="">Start learning now</button>
            </div>
            <img class="video__img" src="{% static 'images/tablet.png' %}" alt="">
        </div>
    </section>

    <section id="section-course" class="container-fluid">
        <h1 class="course-heading">Simply Avail the Complete Course for <span>Free</span></h1></h1>
        <img class="course-img" src="{% static 'images/ellipses.png' %}" alt="">
        <div class="course">
            <div class="course__picture">
                <h3 class="course__picture--title">School Exams - Class 9</h3>
                <img class="course__picture--img" src="{% static 'images/Artboard.png' %}" alt="">
            </div>
            <div class="course__box">
                <h2 class="course__box--title">Embark on the <span>Best Courses</span></h2>
                <div class="course__box--content">
                    <img class="course__box--content-img" src="{% static 'images/lap-icon.png' %}" alt="">
                    <h3 class="course__box--content-heading">Accessible everywhere</h3>
                    <h5 class="course__box--content-para">Access to quality education anytime, anywhere</h5>
                </div>
                <div class="course__box--content">
                    <img class="course__box--content-img" src="{% static 'images/gift-box.png' %}" alt="">
                    <h3 class="course__box--content-heading">Expert Teachers</h3>
                    <h5 class="course__box--content-para">Unlimited access to video solutions</h5>
                </div>
                <div class="course__box--content">
                    <img class="course__box--content-img" src="{% static 'images/trophy.png' %}" alt="">
                    <h3 class="course__box--content-heading">Interactive Sessions</h3>
                    <h5 class="course__box--content-para">Small groups for maximum student - teacher interaction</h5>
                </div>
            </div>
        </div>
        <button class="course-btn" href="">JOIN the Course now!</button>
    </section>

    
    <section id="section-doubts" class="container-fluid">
        <h1 class="doubts-heading">Solve your doubts faster.</h1>
        <div class="doubts">
            <div class="doubts__box">
                <div class="doubts__box--content">
                    <img class="doubts__box--content-img" src="{% static 'images/global-network.png' %}" alt="">
                    <h3 class="doubts__box--content-heading">Accessible everywhere</h3>
                    <p class="doubts__box--content-para">Access to quality educations anytime, anywhere</p>
                </div>
                <div class="doubts__box--content">
                    <img class="doubts__box--content-img" src="{% static 'images/presentation.png' %}" alt="">
                    <h3 class="doubts__box--content-heading">1 million+ videos</h3>
                    <p class="doubts__box--content-para">Unlimited access to video solutions</p>
                </div>
            </div>

            <img class="doubts__img" src="{% static 'images/computer.png' %}" alt="">
            
            <div class="doubts__work">
                <h3 class="doubts__work--heading">How it works?</h3>
                <div class="doubts__work--img">
                    <div class="doubts__work--img-item1">
                        <h4 class="doubts__work--img-item1-heading">Have a doubt?</h4>
                        <img class="doubts__work--img-item1-image" src="{% static 'images/doubt.png' %}" alt="">
                        <h5 class="number-circle">1</h5>
                    </div>
                    
                    <img class="connect" src="{% static 'images/connect.png' %}" alt="">
                    
                    <div class="doubts__work--img-item2">
                        <div class="doubts__work--img-item2-image1">   
                            <img class="keyboard" src="{% static 'images/keyboard.png' %}" alt="">
                            <h3 class="keyboard-text">Type the question</h3>
                        </div>
                        <h4 class="doubts__work--img-item2-text">OR</h4>
                        <div class="doubts__work--img-item2-image2">
                            <img class="upload" src="{% static 'images/upload.png' %}" alt="">
                            <h3 class="upload-text">Upload image</h3>
                        </div>
                        <h5 class="number-circle">2</h5>
                    </div>
                    
                    <img class="connect" src="{% static 'images/connect.png' %}" alt="">

                    <div class="doubts__work--img-item3">
                        <img class="work" src="{% static 'images/work.png' %}" alt="">
                        <h3 class="work-text">Type the question</h3>
                        <h5 class="number-circle">3</h5>
                    </div>
                    
                </div>
            </div>
        </div>
        <img class="doubt-ellipse" src="{% static 'images/ellipses.png' %}" alt="">
        <button class="doubt-btn">Clarify your doubts now!</button>
    </section>

    <section id="section-live" class="container-fluid">
        <h1 class="live-heading">LIVE classes</h1>
        <div class="live">
            <img class="live__img" src="{% static 'images/live.png' %}" alt="">
            <div class="live__box">
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/global-network.png' %}" alt="">
                    <h3 class="live__box--content-heading">Accessible everywhere</h3>
                    <h5 class="live__box--content-para">Access to quality education anytime, anywhere</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/coaching.png' %}" alt="">
                    <h3 class="live__box--content-heading">Expert Teachers</h3>
                    <h5 class="live__box--content-para">Unlimited access to video solutions</h5>
                </div>
                <div class="live__box--content">
                    <img class="live__box--content-img" src="{% static 'images/presentation.png' %}" alt="">
                    <h3 class="live__box--content-heading">Interactive Sessions</h3>
                    <h5 class="live__box--content-para">Small groups for maximum student - teacher interaction</h5>
                </div>
            </div>
            <img class="ellipses4" src="{% static 'images/ellipses.png' %}" alt="">
        </div>
        
        <h2 class="live-free">FIRST CLASS FREE!</h2>
        <button class="live-btn" href="">Book a class now!</button>
    </section>

 
{% endblock %}