*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgb(85, 83, 83);
}

h1,h2,h3,h4,h5,h6
{
    font-family:'Poppins', sans-serif;
}

a
{
    text-decoration: none;
    color: black;
}

@keyframes moveDownShow {
    0% {
      opacity: 0;
      transform: translateY(-6rem); }
    100% {
      opacity: 1;
      transform: translateY(0rem); } }

.navbar-brand img {
    height: 5rem; }
  
  nav {
    background: white; }
  
  .navbar-nav .nav-item .nav-link {
    transform: translateX(-2rem);
    color: #4B4B4B !important;
    font-size: 1.25rem;
    margin-left: 1.5rem;
    font-weight: 500;
    border-bottom: .3rem solid transparent; }
    .navbar-nav .nav-item .nav-link:active, .navbar-nav .nav-item .nav-link:focus {
      border-bottom: 0.3rem solid #DF0B39; }

.margin
{
    margin: 2rem auto 1rem auto;
}

.text-center
{
    text-align: center;
}

hr
{
    margin: 4rem 0rem 1rem 0rem;
}

.card
{
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgb(187, 185, 185);
    padding: 1rem;
    margin: 1rem;
}

.mynewcard
{
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgb(187, 185, 185);
    height: 200px;
    width: 350px;
    margin: 2rem;
}

.mynewcard svg
{
    margin: 0rem 0.5rem;
}

.mynewcard a
{
    bottom: 0;
    transform: translateY(75%);
}

.underline
{
        width: 80%;
        height: 4px;
        border-radius: 25px;
        background-color: rgb(214,11,60);
        margin-top: 0.5rem;
}

.header h1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.red
{
    color:  rgb(214,11,60);
}

ul
{
    list-style: none;
}

.blue
{
    color:rgb(30,65,144);
}

.flex
{
    display: flex;
}

.flex-column
{
    flex-direction: column;
}

.center
{
    justify-content: center;
    align-items: center;
}

.v-center
{
    align-items: center;
}

.h-center
{
    justify-content: center;
}

h1
{
font-size: 35px;
}

.button
{
    color: white;
    background-color: rgb(214,11,60);
    padding: 10px 25px;
    border-radius: 10px;
    margin: 1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

ul
{
    list-style: none;
}

.landing
{
    width: 100vw;
}

.font-20
{
    font-size: 20px;
}

.class-btn
{
    width: 25%;
    text-align: center;
}

.tutors
{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tutors a
{
    width: 100%;
    margin: 1rem 0rem;
}

.tutors-img
{
    width: 60%;
    height: auto;
}

.content
{
    width: 80%;
    margin:2rem auto 1rem auto;
}

.join
{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.join-img
{
    width: 50%;
    height: auto;
}

.bluecards
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.bluecards section h1
{
    color: white;
    margin: 2rem;
}

.bluecards p
{
    color: white;
}

.bluecards a
{
    background-color: white;
    color:rgb(30,65,144);
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 8px;
}

.bluecards section
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 300px;
    width: 300px;
    background: url('../static/images/blue-bg.png');
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    margin: 1rem;
}

.redcards
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.redcards section
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 300px;
    width: 300px;
    background: url('../static/images/red-bg.png');
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    margin: 1rem;
}

.redcards section h1
{
    color: white;
    margin: 2rem;
}

.redcards p
{
    color: white;
}

.redcards a
{
    background-color: white;
    color:rgb(214,11,60);
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 8px;
}

.offers
{
    width: 80%;
    margin: auto;
    justify-content: space-around;
    color: white;
}

.teachers
{
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}

.teachers section
{
    height: 80vh;
}

.start
{
    justify-content: flex-start;
    align-items: center;
}

.end
{
    justify-content: flex-end;
    align-items: center;
}

.students ul
{
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

.students li
{
    width: 35%;
}

.students small
{
    float: right;
    margin: 0.5rem 0rem 0rem 0rem;
}

.myfooter
{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0rem;
}

.myfooter a
{
    color: #a1a1a1;
    margin: 5px 0px;
}

.footer-sec1
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;   
}
.footer-sec2
{
    display: flex;  
    flex-direction: column;   
}

.contact span
{
    align-items: center;
    margin: 0.5rem;    
}

.contact h2
{
    margin: 0.5rem;
}

.contact a
{
    margin: 0.5rem;
}

.tutor
{
    width: 90%;
    justify-content: space-around;
}

.tutor-img
{
    width: 50%;
    height: auto;
}

.tutor li
{
    margin:1rem 0rem;
}

@media only screen and (max-width: 600px)
{

    .section1
    {
        flex-direction: column;
    }

    .section1-img
    {
        width: 90%;
        margin:auto;
    }

    .join section
    {
        flex-direction: column;
    }

    .tutor-img
    {
        width: 90%;
        margin: 1rem;
    }

    .freeclass
    {
        flex-direction: column;
        width: 325px;
        margin-bottom: 1rem;
    }

    .mynewcard
    {
        margin: 1rem 0rem;
    }

    .achieve
    {
        font-size: 20px;
        width: 100%;
    }

    .header1
    {
        margin: 2rem 0rem;
    }

    .membership
    {
        flex-direction: column;
    }

    .teachercard
    {
        flex-direction: column;
    }

    .teacher1
    {
        width: 90vw;
        align-items: center;
    }

    .teacher2
    {
        width: 90vw;
        align-items: center;
        justify-content: center;
    }

    .teacher3
    {
        width: 90vw;
        align-items: center;
        justify-content: center;
    }

    .teacher4
    {
        width: 90vw;
        align-items: center;
        justify-content: center;
    }

    .teacher section
    {
        height: 50vh;
    }

    .students section
    {
        font-size: 20px;
        margin: 2rem 1rem;
    }

    .students h1
    {
        font-size: 20px;
    }

    .students ul
    {
        flex-direction: column;
    }

    .myfooter
    {
        flex-wrap: wrap;
    }
}
